<div class="opti_sales-quotations-detail-home opti_position-relative opti_fullheight" id="opti_SalesQuotationsDetailHomeID" [perfectScrollbar]="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- loader start -->
        <div class="opti_loader opti_loader-header-tab" *ngIf="showLoader==true">
            <div class="opti_spinner"></div>
        </div>
        <!-- loader end --> 
       

    <ng-container *ngIf="showLoader==false">


        <div class="card">  
          <div class="card-block">
            <form class="k-form">

              <label class="k-form-field">
                  <span class="opti_form-label">Quotation Number</span>
                  <input name="quotationnumber" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.QuotationNumber" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Status</span>
                  <input name="status" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.Status" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Valid Until</span>
                  <input name="validuntil" type="text" class="k-textbox"(ngModelChange)="salesQuotationDetailModel.ValidUntil= $event" [ngModel]="salesQuotationDetailModel.ValidUntil | date:'dd MMM yy'" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Document Date</span>
                  <input name="documentdate" type="text" class="k-textbox" (ngModelChange)="salesQuotationDetailModel.DocumentDate= $event" [ngModel]="salesQuotationDetailModel.DocumentDate | date:'dd MMM yy'" readonly />
              </label> 

              <label class="k-form-field">
                  <span class="opti_form-label">Sales Employee</span>
                  <input name="salesemployee" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.SalesEmployee" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Owner</span>
                  <input name="owner" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.Owner" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Remark</span>
                  <input name="remark" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.Remark" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Place of supply</span>
                  <input name="placeofsupply" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.PlaceOfSupply" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Total before discount</span>
                  <input name="beforediscount" type="text" class="k-textbox"  [(ngModel)]="salesQuotationDetailModel.TotalBeforeDisc" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Discount %</span>
                  <input name="discountpercentage" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.DiscountPercentage" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Discount</span>
                  <input name="discount" type="text" class="k-textbox"  [(ngModel)]="salesQuotationDetailModel.Discount" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Freight</span>
                  <input name="freight" type="text" class="k-textbox"  [(ngModel)]="salesQuotationDetailModel.Freight" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Tax</span>
                  <input name="tax" type="text" class="k-textbox" [(ngModel)]="salesQuotationDetailModel.Tax" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Total</span>
                  <input name="total" type="text" class="k-textbox"  [(ngModel)]="salesQuotationDetailModel.Total" readonly />
              </label>
              
            </form>
          </div>
        </div>
        </ng-container>
      </div> 
    </div> 
  </div>  
</div>