<div id="opti_ConsignInventoryListID">
    <!-- loader start -->
    <div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader1">
        <div class="opti_spinner"></div>
    </div>
    <!-- loader end -->
    <!-- loader start -->
    <div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
    <!-- loader end -->


    <ng-container *ngIf="showLoader==false">
        <!-- for normal user   -->
        <!-- <div *ngIf="systemAdmin!='true'"> -->
        <div>
            <kendo-grid [kendoGridBinding]="gridData" [resizable]="false" [pageSize]="selectedValue" [pageable]="true"
                [pageSize]=pageLimit [pageable]=pagination [sortable]="true" [filterable]=isColumnFilter [groupable]=isColumnGroup
                [columnMenu]="{ columnChooser: false }" [height]=gridHeight [selectable]="true" class="kendoGrid_Toolbar--flex kendoGrid_Collaps--smallBtn"
                #gridItem (detailExpand)="openDetailGrid($event)">

                <!-- [kendoGridBinding]="gridData | customPipeItem:searchRequest"  -->
                <!-- (selectionChange)="openInqueryDetailOnSelectInquery(gridItem, $event, true, gridItem)" -->

                <!-- grid template start -->
                <ng-template kendoGridToolbarTemplate class="d-inline-flex align-items-center">
                    <!-- show hide column start show hide -->
                    <kendo-grid-column-chooser class="opti_hide-in-mobile align-self-start d-inline-flex align-items-start"></kendo-grid-column-chooser>
                    <!-- checkbox -->
                    <form class="k-form p-0 opti_show-hide-grid-column-filter opti_hide-in-mobile d-inline-flex align-items-center">
                        <div class="k-form-field">
                            <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_SalesOrderListColumnFilterID"
                                [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                            <label class="k-checkbox-label word-wrap-nowrap mr-2" for="opti_SalesOrderListColumnFilterID">Enable
                                Filter</label>
                        </div>

                        <div class="k-form-field">
                            <input type="checkbox" id="opti_SalesOrderColumnGroupID" [(ngModel)]="isColumnGroup" class="k-checkbox"
                                name="columnGroup" />
                            <label class="k-checkbox-label word-wrap-nowrap mr-2" for="opti_SalesOrderColumnGroupID">Enable
                                Grouping</label>
                        </div>
                    </form>

                    <!-- export -->
                    <button type="button" kendoGridExcelCommand icon="file-excel" class="opti_hide-in-mobile opti_grid-toolbar-excelbutton p-y-0 mt-0">
                        <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                    </button>

                    <!-- <div class="float-left">
                    <kendo-dropdownlist [data]="listItems" [(ngModel)]="selectedValue"></kendo-dropdownlist>
                    </div> -->
                    <!-- {{displayDateRange}} -->
                    <div class="d-block d-sm-flex d-md-flex d-lg-flex d-xl-none pt-2 w-100"></div>
                    <div class="ml-auto col-xl-auto ml-xl-auto ml-lg-0 ml-md-0 ml-sm-0 mb-lg-1 mb-md-1 pr-2 pl-0 col-sm-8 col-xs-12 col-12 col-md-12 col-lg-6 col-xl-4 d-inline-flex">
                        <!-- <input class="k-textbox w-100" #drp="bsDaterangepicker" bsDaterangepicker
                         [(ngModel)]="bsRangeValue" 
                          [bsValue]="bsValue" 
                          [(ngModel)]="bsRangeValue"
                          [bsConfig]="{showWeekNumbers:false, containerClass:'theme-default'}"> -->
                        <kendo-daterange class="d-flex">
                            <label class="d-flex mb-0 align-items-center">
                                <span class="label mr-2 alpha">Start</span>
                                <kendo-dateinput class="mr-2 w-100" kendoDateRangeStartInput [(value)]="range.start"
                                    [format]="'dd MMM yy'"></kendo-dateinput>
                            </label>
                            <label class="d-flex mb-0 align-items-center">
                                <span class="label mr-2 alpha">End</span>
                                <kendo-dateinput class="mr-2 w-100" kendoDateRangeEndInput [(value)]="range.end"
                                    [format]="'dd MMM yy'"></kendo-dateinput>
                            </label>
                        </kendo-daterange>
                        <button (click)="filterDate()" class="word-wrap-nowrap">Set Filter</button>
                    </div>
                    <div class="d-block d-sm-none d-md-flex d-lg-none d-xl-none pt-2 w-100"></div>
                    <div class="datePlaceHolder mb-lg-1 mb-md-1 d-inline-flex alpha align-items-center pr-1">
                        <span class="mr-1">From</span>
                        <label class="mb-0 mr-1"><b>{{fromDate | date: 'dd/MM/yyyy'}}</b></label>
                        <span class="mr-1">To</span>
                        <label class="mb-0 mr-1"><b>{{toDate | date: 'dd/MM/yyyy'}}</b></label>
                    </div>
                    <div class="px-0 ml-xl-auto mb-lg-1 mt-2 mt-xl-0 mt-lg-0 mt-md-0 mb-md-1 col-xl-2 ml-lg-auto ml-md-auto opti_grid-mainlist-mobile-search opti_right-top-sec-grid col-md-4 col-lg-2">
                        <form class="k-form opti_common-search-form p-0">
                            <label class="k-form-field opti_common-search-label d-flex w-100">
                                <input type="text" class="k-textbox w-100" name="searchRequest" [(ngModel)]="searchRequest" />
                                <span class="opti_vertical-align opti_mouse-pointer"><img src="assets/images/common/search-black.svg"
                                        class="" alt="Search" width="15" /></span>
                            </label>
                        </form>
                    </div>
                    <div class="clearfix col-12 d-lg-none d-xl-none"></div>
                </ng-template>


                <!-- grid for mobile start -->
                <kendo-grid-column media="(max-width: 767px)" title="Consigned Inventory" class="opti_mobile-grid-td">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <dl class="opti_mobile_grid_dl">
                            <dt>Item</dt>
                            <dd>{{ dataItem.Item }}</dd>

                            <dt>Item Description</dt>
                            <dd>{{ dataItem.ItemDescription }}</dd>

                            <dt>WareHouse</dt>
                            <dd>{{ dataItem.WareHouse }}</dd>

                            <dt>Bin</dt>
                            <dd>{{ dataItem.Bin }}</dd>
                        </dl>

                        <dl class="opti_mobile_grid_dl">
                            <dt>Commited </dt>
                            <dd>{{ dataItem.Commited }}</dd>

                            <dt>Available</dt>
                            <dd>{{ dataItem.Available }}</dd>

                            <dt>Stock</dt>
                            <dd>{{ dataItem.Stock }}</dd>

                            <dt>Serial or Batch</dt>
                            <dd><a href="javascript:void('0')" (click)="openSBDetail($event)" class=" pl-0 pr-0"> <u>{{
                                        dataItem.ItemType }}</u></a></dd>
                        </dl>
                    </ng-template>
                </kendo-grid-column>
                <!-- grid for mobile end -->



                <kendo-grid-column media="(min-width: 768px)" field="Item" title="Item" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="ItemDescription" title="Item Description" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="WareHouse"  [width]="160" title="Warehouse"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Bin" [width]="160"  title="Bin"></kendo-grid-column>
                
                <kendo-grid-column media="(min-width: 768px)" field="Stock" class="text-right" title="Stock" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Committed" class="text-right" title="Committed" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Available" class="text-right"  title="Available" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="ItemType" [width]="160" title="Serial/Batch">
                    <ng-template kendoGridCellTemplate let-row let-childDataItem let-rowIndex="rowIndex">

                        <a *ngIf="childDataItem.ItemType!='None'" href="javascript:void('0')" (click)="openSBDetail($event,rowIndex,gridData)"
                            class="text-underline alpha"> <u>{{childDataItem.ItemType}}</u> </a>
                        <a *ngIf="childDataItem.ItemType=='None'" href="javascript:void('0')" class="text-underline alpha">
                            {{childDataItem.ItemType}} </a>
                    </ng-template>
                </kendo-grid-column>



                <ng-template kendoGridDetailTemplate let-dataItem let-column let-columnIndex="columnIndex">
                    <!-- loader start -->
                    <!-- <div class="opti_loader opti_loader-child-grid-list"  >
                        <div class="opti_spinner"></div>
                    </div> -->
                    <!-- loader end -->

                    <kendo-grid class="opti_detail-child-row" [kendoGridBinding]="dataItem.ItemsDetail">

                        <kendo-grid-column media="(min-width: 768px)" field="TransactionDate" title="Transaction Date"
                            filter="date" type=date format="{0:dd MMM yy}"></kendo-grid-column>


                        <!-- <kendo-grid-column media="(min-width: 768px)" field="Item" title="Item" ></kendo-grid-column>
                      <kendo-grid-column media="(min-width: 768px)" field="ItemDescription" title="Item Description" ></kendo-grid-column> -->


                        <kendo-grid-column media="(min-width: 768px)" field="WareHouse" title="Warehouse"></kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="Bin" title="Bin"></kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="ToWH" title="To Warehouse"></kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="ToBin" title="To Bin"></kendo-grid-column>

                        <!-- <kendo-grid-column media="(min-width: 768px)" field="TransactionType" title="Transaction Type" ></kendo-grid-column> -->
                        <kendo-grid-column media="(min-width: 768px)" field="QuantityTranssacted" class="text-right" title="Quantity Transacted"></kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="ItemType" title="Serial/Batch">
                            <ng-template kendoGridCellTemplate let-row let-childDataItem let-rowIndex="rowIndex">
                                <a *ngIf="childDataItem.ItemType!='None'" href="javascript:void('0')" (click)="openSBDetail($event,rowIndex,gridData)"
                                    class="text-underline alpha"> <u>{{childDataItem.ItemType}}</u> </a>
                                <a *ngIf="childDataItem.ItemType=='None'" href="javascript:void('0')" class="alpha">
                                    {{childDataItem.ItemType}} </a>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column media="(min-width: 768px)" field="TransactionDocumentNumber" title="Transaction Document Number">
                            <ng-template kendoGridCellTemplate let-row let-childDataItem let-rowIndex="rowIndex">
                                <a (click)="openDetail(dataItem,rowIndex);" href="javascript:void('0')" class="text-underline alpha">
                                    <u>{{childDataItem.ObjectTypeDesc}}#{{childDataItem.TransactionDocumentNumber}}</u>
                                </a>
                            </ng-template> 
                        </kendo-grid-column>

                        <kendo-grid-column media="(max-width: 767px)" title="Inventory Details" class="opti_mobile-grid-td">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <dl class="opti_mobile_grid_dl">
                                    <dt>Item</dt>
                                    <dd>{{ dataItem.Item }}</dd>

                                    <dt>Item Description</dt>
                                    <dd>{{ dataItem.ItemDescription }}</dd>

                                    <dt>Serial And Batch</dt>
                                    <dd><u>{{ dataItem.ItemType }}</u></dd>

                                    <dt>WareHouse</dt>
                                    <dd>{{ dataItem.WareHouse }}</dd>

                                    <dt>Bin</dt>
                                    <dd>{{ dataItem.Bin }}</dd>
                                    <dt>To WH </dt>
                                    <dd>{{ dataItem.ToWH }}</dd>
                                </dl>

                                <dl class="opti_mobile_grid_dl">
                                    <dt>To Bin <span class="opti_arrow-grid-detail float-right text-center opti_vertical-align">&rsaquo;</span></dt>
                                    <dd>{{ dataItem.ToBin }}</dd>

                                    <dt>Transection Date</dt>
                                    <dd>{{ dataItem.TransactionDate }}</dd>

                                    <dt>Transaction Type</dt>
                                    <dd>{{ dataItem.TransactionType }}</dd>

                                    <dt>Qunatity Transacted</dt>
                                    <dd>{{ dataItem.QuantityTranssacted }}</dd>

                                    <dt>Transaction Document Number</dt>
                                    <dd><a (click)="openDetail(dataItem,rowIndex);" href="javascript:void('0')" class="btn btn-link  pl-0 pr-0">{{
                                            dataItem.TransactionDocumentNumber }}</a></dd>
                                </dl>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </ng-template>


                <!-- xlsx template start -->
                <kendo-grid-excel fileName="Consigned-Inventory-List.xlsx"></kendo-grid-excel>
                <!-- xlsx template end -->
            </kendo-grid>
        </div>
    </ng-container>
</div>