<!-- <div id="opti_signupPageID">
<div class="opti_outer-signup-form">    
    <div class="opti_vertcal-align-outer-box">
      
      <div class="panel-body">
        <form class="k-form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>Create Your Account</h1>
                <h6>It hardly takes 30 seconds</h6>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="opti_signupbox">
                  <h4>Company Detail</h4>
                  <label class="k-form-field">
                      <input class="k-textbox" type="text" value="" placeholder="Company ID*" />
                  </label>
                  
                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Company Name"/>
                  </label>

                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Website Address"/>
                  </label>

                  <h4>Primary User Detail</h4>
                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Name"/>
                  </label>

                  <label class="k-form-field">
                      <input type="email" class="k-textbox" value="" placeholder="Email*"/>
                  </label>

                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Phone"/>
                  </label>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="opti_signupbox">
                  <h4>Requester Detail</h4>
                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Name*"/>
                  </label>

                  <label class="k-form-field">
                      <input type="email" class="k-textbox" value="" placeholder="Email*"/>
                  </label>

                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Phone*"/>
                  </label>

                  <label class="k-form-field">
                      <kendo-dropdownlist
                      name="role"
                      [data]="roles"
                      [textField]="'text'"
                      [valueField]="'value'"
                      [(ngModel)]="role">
                      </kendo-dropdownlist>
                  </label>

                  <label class="k-form-field">
                      <input type="checkbox" id="auth-2fa" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="auth-2fa">I agree to the <a href="javascript:void('0');"> &nbsp; terms of use </a>&nbsp; and &nbsp;<a href="javascript:void('0');"> privacy policy </a></label>
                  </label>

                  <label class="k-form-field">
                      <div class="text-right">
                        <button type="button" class="k-button k-primary">Sign Up</button>
                      </div>
                  </label>
                </div>
              </div>

              

            </div>
          </div>      
        </form>
      
      </div>  

    </div>  
  </div>  
</div>          
    -->




    <div id="opti_signupPageID">
        <div class="opti_outer-signup-form">    
            <div class="opti_vertcal-align-outer-box "  >
              
              <div class="panel-body opti_position-relative" [perfectScrollbar]="config">
                <form class="k-form">
                  <div class="opti_fprm-inner">
                  
                          <div class="text-center">
                            <h5>Create an account</h5>
                          </div>
                      
                          <label class="k-form-field">
                              <input class="k-textbox" type="text" value="" placeholder="Company ID*" />
                          </label>
                          
                          <label class="k-form-field">
                              <input type="text" class="k-textbox" value="" placeholder="Company Name" disabled/>
                          </label>
        
                          <label class="k-form-field">
                              <input type="text" class="k-textbox" value="" placeholder="Website Address" disabled/>
                          </label>
        
                          <label class="k-form-field">
                              <input type="text" class="k-textbox" value="" placeholder="Primary Contact Name" disabled/>
                          </label>
        
                          <label class="k-form-field">
                              <input type="email" class="k-textbox" value="" placeholder="Primary Contact Email" disabled/>
                          </label>
        
                          <label class="k-form-field">
                              <input type="text" class="k-textbox" value="" placeholder="Primary Contact Phone" disabled/>
                          </label>
        
                          <label class="k-form-field">
                              <input type="text" class="k-textbox" value="" placeholder="Your Name*"/>
                          </label>
        
                          <label class="k-form-field">
                              <input type="email" class="k-textbox" value="" placeholder="Your Email*"/>
                          </label>
        
                          <label class="k-form-field">
                              <input type="text" class="k-textbox" value="" placeholder="Your Phone*"/>
                          </label>
        
                          <label class="k-form-field">
                              <kendo-dropdownlist
                              name="role"
                              [data]="roles"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [(ngModel)]="role">
                              </kendo-dropdownlist>
                          </label>
        
                          <label class="k-form-field">
                              <input type="checkbox" id="auth-2fa" class="k-checkbox" checked="checked">
                              <label class="k-checkbox-label opti_agrementtext" for="auth-2fa"> I agree to the <a href="javascript:void('0');">&nbsp; terms of use </a> &nbsp; and &nbsp;<a href="javascript:void('0');"> privacy policy </a></label>
                          </label>
        
                          <label class="k-form-field">
                              <div class="text-right">
                                <button type="button" class="k-button k-primary">Sign Up</button>
                              </div>
                          </label>
                        
        
                      
        
                        </div>       
                </form>
              
              </div>  
        
            </div>  
          </div>  
        </div>          
           