@import 'src/assets/css/account_module/account.scss';

.panel-body{
    // background: #f7f4f4;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    box-shadow: 0px 0px 13px 0px #000;
    // height: calc(100% - 20px);
    height: auto;
    max-height: 100%;
}

.opti_outer-signup-form {
    width: 370px;
    max-width: 100%;
    margin-left: 160px;
    
}

.opti_vertcal-align-outer-box{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 10px 0;
}

kendo-dropdownlist{
    width: 100%;
}

.opti_signupbox{
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
}

h5, h6{
    color: #fff;
}

a{
    color: #fff;
    text-decoration: underline;
}

a:hover{
    color: #fff;
}

.opti_agrementtext{
    font-size: 12px;
    a{
        font-size: 12px;
    }
}

.opti_fprm-inner{
    padding: 15px;
}

.opti_agrementtext{
    display: block !important;
    color: white;
}

.k-form, .k-form-inline{
    padding: 10px !important;
}

.k-form-field {
    span{
        font-size: 12px;
        color: white;
        margin-bottom: 0 !important;
    }
}

.opti_signup-companyname, .opti_signup-url{
    float: left;
    width: 49%;
}

.opti_signup-url{
    float: right;
}

.opti_signup-primary-name,
.opti_signup-primary-email,
.opti_signup-primary-phone{
    float: left;
    width: 32%;
}

.opti_signup-primary-email{
    margin: 0 2%;
}

.opti_signup-primary-label,
.opti_signup-company-label{
    font-size: 10px;
    color: white;
    margin-bottom: 0 !important;
}

.k-checkbox-label::before {
    border-color: rgba(255, 255, 255, 0.7);
}

// dropdown css
.opti_role-template{
    font-size: 12px !important;
}

