@import 'src/assets/css/web/account_module/account';

kendo-dropdownlist{
    width: 100%;
}

.opti_signupbox{
    padding: 15px;
    background-color: $white;
    border-radius: 5px;
    height: 100%;
}

.opti_agrementtext{
    font-size: 12px;
    display: block !important;
    color: $white;
    a{
        font-size: 12px;
    }
}

.opti_fprm-inner{
    padding: 15px;
}

.k-form, .k-form-inline{
    padding: 10px !important;
}

.opti_signup-companyname, 
.opti_signup-url{
    float: left;
    width: 49%;
}

.opti_signup-url{
    float: right;
}

.opti_signup-primary-name,
.opti_signup-primary-email,
.opti_signup-primary-phone{
    float: left;
    width: 32%;
}

.opti_signup-primary-email{
    margin: 0 2%;
}

.opti_signup-primary-label,
.opti_signup-company-label{
    font-size: 10px;
    color: $white;
    margin-bottom: 0 !important;
}