<!-- <div id="opti_signupPageID">
<div class="opti_outer-signup-form">    
    <div class="opti_vertcal-align-outer-box">
      
      <div class="panel-body">
        <form class="k-form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>Create Your Account</h1>
                <h6>It hardly takes 30 seconds</h6>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="opti_signupbox">
                  <h4>Company Detail</h4>
                  <label class="k-form-field">
                      <input class="k-textbox" type="text" value="" placeholder="Company ID*" />
                  </label>
                  
                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Company Name"/>
                  </label>

                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Website Address"/>
                  </label>

                  <h4>Primary User Detail</h4>
                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Name"/>
                  </label>

                  <label class="k-form-field">
                      <input type="email" class="k-textbox" value="" placeholder="Email*"/>
                  </label>

                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Phone"/>
                  </label>
                </div>
              </div>

              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="opti_signupbox">
                  <h4>Requester Detail</h4>
                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Name*"/>
                  </label>

                  <label class="k-form-field">
                      <input type="email" class="k-textbox" value="" placeholder="Email*"/>
                  </label>

                  <label class="k-form-field">
                      <input type="text" class="k-textbox" value="" placeholder="Phone*"/>
                  </label>

                  <label class="k-form-field">
                      <kendo-dropdownlist
                      name="role"
                      [data]="roles"
                      [textField]="'text'"
                      [valueField]="'value'"
                      [(ngModel)]="role">
                      </kendo-dropdownlist>
                  </label>

                  <label class="k-form-field">
                      <input type="checkbox" id="auth-2fa" class="k-checkbox" checked="checked">
                      <label class="k-checkbox-label" for="auth-2fa">I agree to the <a href="javascript:void('0');"> &nbsp; terms of use </a>&nbsp; and &nbsp;<a href="javascript:void('0');"> privacy policy </a></label>
                  </label>

                  <label class="k-form-field">
                      <div class="text-right">
                        <button type="button" class="k-button k-primary">Sign Up</button>
                      </div>
                  </label>
                </div>
              </div>

              

            </div>
          </div>      
        </form>
      
      </div>  

    </div>  
  </div>  
</div>          
    -->




    <div id="opti_signupPageID" kendoTooltip showOn="none">
        <div class="opti_outer-signup-form">    
            <div class="opti_vertcal-align-outer-box "  >
              
              <div class="panel-body opti_position-relative" [perfectScrollbar]="config">                  
                <form class="k-form">
                  <div class="opti_fprm-inner">
                  
                          <div class="text-center">
                            <h5>Create an Account</h5>
                          </div>

                        

                          <label class="k-form-field opti_position-relative">
                              <span>Company ID* <span class="float-right opti_signup-validation-top-side"  *ngIf='invalidCompanyId' style="color: red;">Please enter valid company id</span></span>
                              <input class="k-textbox" type="text"  name="CompanyId" placeholder="e.g. Cust1032" [(ngModel)]= 'CompanyId' (blur)="getCompaneyDetail()" onfocus="this.placeholder = ''" onblur="this.placeholder = 'e.g. Cust1032'" tooltip="{{'Please Enter Id like Cust10325'}}" placement="right" container="body" />
                          </label>
                          
                          <label class="k-form-field opti_signup-company-label">
                            <span>Company Details</span>
                          </label>

                          <label class="k-form-field opti_signup-companyname">
                              <input type="text" name="CompanyName" [(ngModel)]="companyDetail.CompanyName" class="k-textbox" value="" placeholder="e.g. OptiPro ERP" disabled/>
                          </label>
        
                          <label class="k-form-field opti_signup-url">
                              <input type="text" class="k-textbox" value="" placeholder="e.g. https://www.optiproerp.com/" disabled/>
                          </label>
                          
                          <label class="k-form-field opti_signup-primary-label">
                              <span>Primary Contact Details</span>
                          </label>

                          <label class="k-form-field opti_signup-primary-name">
                              <input type="text" class="k-textbox"  name="PrimaryContactName" [(ngModel)]="companyDetail.PrimaryContactName" value="" placeholder="e.g. Kevin Peter" disabled/>
                          </label>
        
                          <label class="k-form-field opti_signup-primary-email">
                              <input  name="PrimaryContactEmail" [(ngModel)]="companyDetail.PrimaryContactEmail" type="email" class="k-textbox" value="" placeholder="e.g. peter@gmail.com" disabled/>
                          </label>
        
                          <label class="k-form-field opti_signup-primary-phone">
                              <input  name="PrimaryContactPhone" [(ngModel)]="companyDetail.PrimaryContactPhone" type="text" class="k-textbox" value="" placeholder="e.g. +01 321 856 5478" disabled/>
                          </label>
        
                          <label class="k-form-field">
                              <span>Your Name*</span>
                              <input  name="RequesterName" [(ngModel)]="registerReq.RequesterName" type="text" class="k-textbox" value="" placeholder="e.g. Kevin" onfocus="this.placeholder = ''" onblur="this.placeholder = 'e.g. Kevin'" />
                          </label>
        
                          <label class="k-form-field opti_position-relative">
                              <span>Your Email*</span>
                              <input name="RequestereEmail" [(ngModel)]="registerReq.RequesterEmail" type="email" class="k-textbox" value="" placeholder="e.g. kevin@gmail.com" onfocus="this.placeholder = ''" onblur="this.placeholder = 'e.g. kevin@gmail.com'" tooltip="{{'e.g. like test@gmail.com'}}" placement="right" container="body" />
                              <span style="color: red">Please enter valid email</span>
                          </label>
        
                          <label class="k-form-field">
                              <span>Your Phone*</span>
                              <input name="RequesterePhone" [(ngModel)]="registerReq.RequesterPhone" type="number" class="k-textbox" value="" placeholder="e.g. +01 321 856 5478" onfocus="this.placeholder = ''" onblur="this.placeholder = 'e.g. +01 321 856 5478'" />
                          </label>
        
                          <label class="k-form-field">
                              <!-- <span>Your role</span> -->
                              <kendo-dropdownlist
                              name="role"
                              [data]="roles"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [(ngModel)]="role">
                              <!-- <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <li class="opti_role-template">{{ dataItem.text }}</li> 
                            </ng-template> -->
                              </kendo-dropdownlist>
                          </label>
        
                          <label class="k-form-field">
                              <div class="opti_checkbox-container">
                              <input type="checkbox" id="auth-2fa" class="k-checkbox" checked="checked">
                              <label class="k-checkbox-label opti_agrementtext" for="auth-2fa"> I agree to the &nbsp;<a href="javascript:void('0');"> terms of use </a> &nbsp; and &nbsp;<a href="javascript:void('0');"> privacy policy </a></label>
                              </div>
                          </label>
        
                          <label class="k-form-field">
                              <div class="text-right">
                                <button (click)="submit()" type="button" class="k-button k-primary">Sign Up</button>
                              </div>
                          </label>
                        
        
                      
        
                        </div>       
                </form>
              
              </div>  
        
            </div>  
          </div>  
        </div>          
           