<section id="opti_MainContentID" class="opti_position-relative" style="overflow-x: hidden !important;">
    <!-- [perfectScrollbar]="config" -->
  
    <!-- For Admin  -->
    <div style="padding: 10px;" *ngIf="systemAdmin=='true'">
        <!-- <app-approve-users></app-approve-users> -->
    </div>
 
    <div *ngIf="systemAdmin!='true'">
        <div style="padding: 10px;">                
                <kendo-grid [loading]="showLoader" [kendoGridBinding]="gridData" [resizable]="false" [pageSize]="50" [pageable]="true" [sortable]="true"  [filterable]=isColumnFilter
                [groupable]=isColumnGroup [columnMenu]="{ columnChooser: false }" [height]=gridHeight [selectable]="true" (selectionChange)="openInqueryDetailOnSelectInquery(gridItem, $event, true)"
                #gridItem>

                <!-- (click)="openRightSection(true)" -->

                <!-- grid template start -->
                <ng-template kendoGridToolbarTemplate>
                    <!-- show hide column start show hide -->
                    <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

                    <!-- checkbox -->
                    <form class="k-form opti_show-hide-grid-column-filter float-left">
                        <div class="k-form-field float-left">
                            <input type="checkbox" id="opti_ColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                            <label class="k-checkbox-label" for="opti_ColumnFilterID">Enable Filter</label>
                        </div>

                        <div class="k-form-field float-left">
                            <input type="checkbox" id="opti_ColumnGroupID" [(ngModel)]="isColumnGroup" class="k-checkbox" name="columnGroup" />
                            <label class="k-checkbox-label" for="opti_ColumnGroupID">Enable Grouping</label>
                        </div>
                    </form>

                    <!-- export -->
                    <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton">
                        <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                    </button>


                    <div class="float-right opti_right-top-sec-grid-purchase opti_right-top-sec-grid">
                        <svg-icon src="assets/images/common/add.svg" (click)="addInqueryOnClickAdd(true)" [svgStyle]="{ 'width.px':16, 'height.px':16}"
                            class="opti_vertical-align float-left opti_icon-spacing opti_add-request"></svg-icon>

                        <form class="k-form opti_common-search-form float-left opti_padding-zero">
                            <label class="k-form-field opti_common-search-label">
                                <input type="text" class="k-textbox" name="searchRequest" [(ngModel)]="searchRequest" />
                                <span class="opti_vertical-align opti_mouse-pointer"><img src="assets/images/common/search-black.svg" class="" alt="Search" width="15" /></span>
                            </label>
                        </form>
                    </div>
                </ng-template>

                <!-- grid template end -->
                <kendo-grid-column field="InquiryNumber" title="Id" [width]="160" ></kendo-grid-column>
                <kendo-grid-column field="CustomerCode" title="Customer Id" [width]="140" [hidden]=true></kendo-grid-column>
                <kendo-grid-column field="CustomerName" [width]="140" title="Customer Name" [hidden]=true></kendo-grid-column>
                <kendo-grid-column field="Status" [width]="140"></kendo-grid-column>
                <kendo-grid-column field="CreatedDate" title="Created Date" [width]="200"  filter="date" format="{0:d}"></kendo-grid-column>
                <kendo-grid-column field="Buyer" title="Created By" [width]="140"></kendo-grid-column>
                <kendo-grid-column field="ValidTillDate" title="Valid Until" [width]="200" filter="date" format="{0:d}"></kendo-grid-column>
                <kendo-grid-column field="ReferenceNumber" [width]="140"></kendo-grid-column>

                <!-- xlsx template start -->
                <kendo-grid-excel fileName="Requests.xlsx"></kendo-grid-excel>
                <!-- xlsx template end -->

            </kendo-grid>
        </div>
    </div>
</section>
