@import 'src/assets/css/web/purchase-inquiry_module/purchase_inquiry';

.opti_items-grid{
    margin-right: 20px;
}


// right section for tab




.opti_tabcontent{
    kendo-grid {
        box-shadow:none;
    }
}

// pdf button

.opti_show-hide-grid-column-filter{
    // width: 253px;
}


.opti_add-request{
    height: 30px;
    // margin-left: 20px;
    cursor: pointer;
    display: inline-flex;
}