<div id="opti_PurchaseInqList">
        
    <!-- loader start -->
    <div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
    <!-- loader end -->

    <ng-container *ngIf="showLoader==false">
        <!-- For Admin  -->
        <!-- <div *ngIf="systemAdmin=='true'">
            <app-approve-users></app-approve-users>
        </div> -->
        
        <!-- for normal user -->
        <div *ngIf="systemAdmin!='true'">
                    <kendo-grid  
                    [kendoGridBinding]="gridData | customPipeItem:searchRequest" 
                    [resizable]="false" 
                    [pageSize]=pageLimit 
                    [pageable]=pagination 
                    [sortable]="true"  
                    [filterable]=isColumnFilter
                    [groupable]=isColumnGroup 
                    [columnMenu]="{ columnChooser: false }" 
                    [height]=gridHeight 
                    [selectable]="true" 
                    (selectionChange)="openInqueryDetailOnSelectInquery($event)"
                    #gridItem>

                    <!-- grid template start -->
                    <ng-template kendoGridToolbarTemplate>
                        <!-- show hide column start show hide -->
                        <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser>

                        <!-- checkbox -->
                        <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile">
                            <div class="k-form-field float-left">
                                <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_ColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                                <label class="k-checkbox-label" for="opti_ColumnFilterID">Enable Filter</label>
                            </div>

                            <div class="k-form-field float-left">
                                <input type="checkbox" id="opti_ColumnGroupID"  [(ngModel)]="isColumnGroup" class="k-checkbox" name="columnGroup" />
                                <label class="k-checkbox-label" for="opti_ColumnGroupID">Enable Grouping</label>
                            </div>
                        </form>

                        <!-- export -->
                        <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton opti_hide-in-mobile">
                            <svg-icon src="{{imgPath}}/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                        </button>


                        <div class="float-right opti_grid-mainlist-mobile-search-add opti_right-top-sec-grid">
                            <form class="k-form opti_common-search-form float-left opti_padding-zero opti_icon-spacing">
                                <label class="k-form-field opti_common-search-label">
                                    <input type="text" class="k-textbox" name="searchRequest" [(ngModel)]="searchRequest" />
                                    <span class="opti_vertical-align opti_mouse-pointer"><img src="{{imgPath}}/common/search-black.svg" class="" alt="Search" width="15" /></span>
                                </label>
                            </form>

                            <svg-icon src="{{imgPath}}/common/add.svg" (click)="addInqueryOnClickAdd(true)" [svgStyle]="{ 'width.px':16, 'height.px':16}"
                                class="opti_vertical-align float-left opti_icon-spacing opti_add-request"></svg-icon>

                        </div>
                    </ng-template>

                    <!-- grid for mobile start -->
                        <kendo-grid-column media="(max-width: 767px)" title="Customer Purchase Inquiry" class="opti_mobile-grid-td">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <!-- template for mobile -->
                                <!-- <h4 [class.discontinued]="dataItem.Discontinued">
                                    {{ dataItem.Name }}
                                </h4> -->
                                
                                <dl class="opti_mobile_grid_dl">
                                    <dt>Inquiry#</dt>
                                    <dd>{{ dataItem.InquiryNumber }}</dd>

                                    <dt>Customer Id</dt>
                                    <dd>{{ dataItem.CustomerCode }}</dd>

                                    <dt>Customer Name</dt>
                                    <dd>{{ dataItem.CustomerName }}</dd>

                                    <dt>Status</dt>
                                    <dd>{{ dataItem.StatusText }}</dd>

                                    
                                </dl>

                                <dl class="opti_mobile_grid_dl">
                                    <dt>Created Date <span class="opti_arrow-grid-detail float-right text-center opti_vertical-align">&rsaquo;</span></dt>
                                    <dd>{{ dataItem.CreatedDate | date:dateformat }} </dd>

                                    <dt>Created By</dt>
                                    <dd>{{ dataItem.Buyer }}</dd>

                                    <dt>Valid Until</dt>
                                    <dd>{{ dataItem.ValidTillDate | date:dateformat }}</dd>

                                    <dt>Reference#</dt>
                                    <dd>{{ dataItem.ReferenceNumber }}</dd>
                                </dl>

                            </ng-template>
                        </kendo-grid-column>
                    <!-- grid for mobile end -->

                    <!-- grid template end -->
                    <kendo-grid-column media="(min-width: 768px)" field="InquiryNumber" title="Inquiry#" [width]="160" filter="numeric"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="CustomerCode" *ngIf="loginUserType==1" title="Customer Id" [width]="140" [hidden]=true></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="CustomerName" *ngIf="loginUserType==1" [width]="140" title="Customer Name" [hidden]=true></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="StatusText" [width]="140" title="Status" ></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="CreatedDate" title="Created Date" [width]="200"  filter="date" type=date [format]="displayDateformat"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="Buyer" title="Created By" [width]="140"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="ValidTillDate" title="Valid Until" [width]="200" filter="date"  type=date [format]="displayDateformat"></kendo-grid-column>
                    <kendo-grid-column media="(min-width: 768px)" field="ReferenceNumber" [width]="140" title = "Reference#"></kendo-grid-column>

                    <!-- xlsx template start -->
                    <kendo-grid-excel fileName="Requests.xlsx"></kendo-grid-excel>
                    <!-- xlsx template end -->

                </kendo-grid>
        </div>
    </ng-container>    
</div>