<div id="home" class="opti_tabcontent opti_position-relative" style="display: block;" [perfectScrollbar]="">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-block">
                      <form class="k-form">
                          <label class="k-form-field">
                              <span class="opti_form-label">Inquiry#</span>
                              <input name="Inquiry#" type="text" class="k-textbox" [(ngModel)]="purchaseInquiryForUpdate.Inquiry" value="" placeholder="Inquiry"
                                  disabled />
                          </label>

                          <label class="k-form-field">
                              <span class="opti_form-label">Customer</span>
                              <input type="text" name="customer" class="k-textbox" value="" [(ngModel)]="purchaseInquiryForUpdate.Customer" placeholder="Customer"
                              />
                          </label>

                          <label class="k-form-field">
                              <span class="opti_form-label">Name</span>
                              <input type="text" name="name" class="k-textbox" value="" [(ngModel)]="purchaseInquiryForUpdate.Name" placeholder="Name"
                              />
                          </label>

                          <label class="k-form-field">
                              <span class="opti_form-label">Status</span>
                              <kendo-dropdownlist name="status" [data]="status" [(ngModel)]="selectedStatusItem" [textField]="'text'" [valueField]="'value'">
                              </kendo-dropdownlist>
                          </label>

                          <label class="k-form-field">
                              <span class="opti_form-label">Created Date</span>
                              <kendo-datepicker name="createdDate" [format]="'dd/MM/yyyy'" [(ngModel)]="createdDateForUpdate"> </kendo-datepicker>
                          </label>


                          <label class="k-form-field">
                              <span class="opti_form-label">Buyer/Created By</span>
                              <input type="text" name="createdBy" class="k-textbox" value="" [(ngModel)]="purchaseInquiryForUpdate.BuyerCreatedBy" placeholder="Buyer/Created By"
                              />
                          </label>

                          <label class="k-form-field">
                              <span class="opti_form-label">Valid Until</span>
                              <kendo-datepicker name="validUntil" [format]="'dd/MM/yyyy'" [(ngModel)]="validUntilForUpdate"> </kendo-datepicker>
                          </label>

                          <label class="k-form-field">
                              <span class="opti_form-label">Reference</span>
                              <input type="text" name="reference" class="k-textbox" value="" placeholder="Reference" [(ngModel)]="purchaseInquiryForUpdate.Reference"
                              />
                          </label>

                          <div class="text-right">
                              <button type="button" class="k-button k-primary">Submit</button>
                              <button type="button" class="k-button">Save as draft</button>
                              <button type="button" class="k-button">Cancel</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>