<div id="opti_landingpageID">
  <div class="opti_outer-landing">
      <div class="opti_vertcal-align-outer-box">
          <div class="panel-body opti_position-relative"  [perfectScrollbar]="config">
              <div class="float-left">
                <img src="assets/images/logo/large-logo.png" />
              </div>
              <div class="float-right opti_landing-link">
                <button (click)="navigateToSignUp(1)" class="opti_remove-button-css">Customer Sign Up</button> 
                <button (click)="navigateToSignUp(2)" class="opti_remove-button-css">Vendor Sign Up</button>
                <button (click)="navigateToSignIn()" class="opti_remove-button-css"> Login</button>
              </div>  
          </div>
      </div>    
  </div>
</div>