<section id="opti_TopBarID">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- this logo only for mobile -->
            <img src="assets/images/deletelater/airbnblogo1.svg" alt="Logo" class="opti_small-logo opti_mobile-logo opti_mouse-pointer opti_icon-spacing" width="30" height="70" />
            <div id="sidebarCollapse" class="opti_vertical-align opti_icon-spacing">
              <!-- hamburger and close icon -->
              <img src="assets/images/common/hammenu.svg" class="opti_mouse-pointer opti_hamburger" alt="hamburger" width="20" height="20" />
              <img src="assets/images/common/close.svg" class="opti_mouse-pointer opti_close-hamburger" alt="close hamburger" width="20" height="20" />
              
            </div>
        </div>
      </div>
  </div>
</section>