<div id="opti_resetPasswordID">
  <div class="opti_outer-resetpassword">
      <div class="opti_vertcal-align-outer-box">
          <div class="panel-body opti_position-relative" [perfectScrollbar]="config">

              <!-- loader start -->
                  <div class="opti_loader" *ngIf="showLoader==true">
                      <div class="opti_spinner"></div>
                  </div>
              <!-- loader end -->

              <form class="k-form" #resetsetPasswordForm = "ngForm">

                      <div class="text-center">
                          <h5>Reset Your Password</h5>
                      </div>

                      <label class="k-form-field">
                          <span>Email <span class="float-right opti_error-msg" >Email is required.</span></span>
                          <input type="email" class="k-textbox" name="email" placeholder="e.g. test@gmail.com" required/>
                      </label>

                      <div class="text-right">
                          <button type="button" class="k-button k-primary">Reset Password</button>
                      </div> 
                      
              </form>
          </div>
      </div>    
  </div>
</div>