// @import 'account_module/_deviceaccount';
@import 'account_module/_mobile_account_common';
@import 'global_layout/_devicelayout';
@import 'purchase-inquiries_module/_mobile_purchase-inquiries_common';
@import 'sales-quotations_module/_mobile_sales_quotations_common';
@import 'sales-order_module/_mobile_sales_order_common';
@import 'customer-purchase-order_module/_mobile_customer_purchase_order_common';




/////////////////////////////////////////
// css for main module grid loader start
/////////////////////////////////////////
body.opti_body-main-module .opti_loader-module-grid-list {
    height: calc(100vh - 85px) ;
}
//////////////////////////////////////
// css for main module grid loader end
//////////////////////////////////////


//////////////////////////////////////
// css start for mobile grid
//////////////////////////////////////
.opti_mobile_grid_dl{
    width: 50%;
    float: left;
    margin-bottom: 0;
    padding: 5px;
}
.opti_mobile-grid-td{
    box-shadow: 0px 2px 10px $input-border-color;
}

// make sarch box in full width
body.opti_body-main-module{
    .opti_right-top-sec-grid-purchase-order-list,
    .opti_right-top-sec-grid-purchase-inq-list,
    .opti_right-top-sec-grid-sales-order-list,
    .opti_right-top-sec-grid-sales-quotation-list,
    .opti_right-top-sec-grid-delivery-list-notes{
        width: 100%;
        form{
            width: 100%;
            padding-right: 0;
            label{
                width: 100%;
                input{
                    width: calc(100% - 17px) !important;
                }
            }
        }
    }
}
