<div class="opti_sales-order-detail-home opti_position-relative opti_fullheight" id="opti_SalesOrderDetailHomeID" [perfectScrollbar]="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

            <!-- loader start -->
            <!-- <div class="opti_loader opti_loader-header-tab">
                <div class="opti_spinner"></div>
            </div> -->
            <!-- loader end --> 
            

          <div class="card">
            <div class="card-block">
              <form class="k-form">
  
                <label class="k-form-field">
                    <span class="opti_form-label">Order Number</span>
                    <input name="ordernumber" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.OrderNumber" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Status</span>
                    <input name="status" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.Status" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Document Date</span>
                    <input name="documentDate" type="text" class="k-textbox" (ngModelChange)="salesOrderDetailModel.DocumentDate= $event" [ngModel]="salesOrderDetailModel.DocumentDate | date:'dd MMM yy'"  readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Delivery Date</span>
                    <input name="Deliverydate" type="text" class="k-textbox" (ngModelChange)="salesOrderDetailModel.DeliveryDate= $event" [ngModel]="salesOrderDetailModel.DeliveryDate | date:'dd MMM yy'" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Sales Employee</span>
                    <input name="salesemployee" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.SalesEmployee" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Owner</span>
                    <input name="owner" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.Owner" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Remark</span>
                    <input name="remark" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.Remark" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Place of supply</span>
                    <input name="placeofsupply" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.PlaceOfSupply" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Total before discount</span>
                    <input name="beforediscount" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.TotalBeforeDiscount" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Discount %</span>
                    <input name="discountpercentage" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.DiscountPercent" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Discount</span>
                    <input name="discount" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.Discount" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Freight</span>
                    <input name="freight" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.Freight" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Tax</span>
                    <input name="tax" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.Tax" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Total</span>
                    <input name="total" type="text" class="k-textbox" [(ngModel)]="salesOrderDetailModel.Total" readonly />
                </label>
                
              </form>
            </div>
          </div>
        </div> 
      </div> 
    </div>  
  </div>