<div #optiRightAddInquiry class="opti_sales-quotation-detail" id="opti_SalesQuotationDetailID">
    <!-- tab start heading start -->
    <div class="opti_position-relative opti_tab-outer">
      <ul #optiTab class="opti_tab opti_position-relative tabs clearfix" id="opti_TabID" [perfectScrollbar]="configX">
          <li class="opti_tablinks active"  id="opti_HomeTabSalesQuotationID"  (click)="openTab($event, 'home')">
            <a href="javascript:void('0');">Header</a>
          </li>
          <li class="opti_tablinks" (click)="openTab($event, 'content')">
            <a href="javascript:void('0');">Content</a>
          </li>
          <li class="opti_tablinks" (click)="openTab($event, 'attachement')">
            <a href="javascript:void('0');">Attachments</a>
          </li>
          <li class="opti_tablinks" (click)="openTab($event, 'notes')">
              <a href="javascript:void('0');">Notes</a>
          </li>
      </ul>
    </div>
    <!-- tab start heading end -->

    <!-- tab content start -->
    <div id="" *ngIf="tabName=='home'" class="opti_tabcontent">
      <app-sales-quotations-detail-home></app-sales-quotations-detail-home>
    </div>

    <div id="" *ngIf="tabName=='content'" class="opti_tabcontent">
      <app-sales-quotations-detail-content></app-sales-quotations-detail-content>
    </div>

    <div id="" *ngIf="tabName=='attachement'" class="opti_tabcontent">
      <app-sales-quotations-detail-attchment></app-sales-quotations-detail-attchment>
    </div>

    <div id="" *ngIf="tabName=='notes'" class="opti_tabcontent">
      <app-sales-quotations-notes></app-sales-quotations-notes>
    </div>
    <!-- tab content end -->
</div>    
