.panel-body{
  background: #f7f4f4;
  border-radius: 5px;
  width: 100%;
}
.opti_outer-login-form {
  margin: 0 auto;
  width: 430px;
  max-width: 100%;
  padding: 0 2%;
}

.opti_vertcal-align-outer-box{
  display: flex;
  height: 100vh;
  align-items: center;
}

.opti_login-brandlogo {
  text-align: center;
  padding: 25px 0 0 0;
}