 <!-- left panel start -->
 <section id="opti_LeftPanelID" class=""> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- logo -->
                <section class="opti_logo opti_vertical-align opti_device-logo">
                  <img src="assets/images/deletelater/airbnblogo.svg" alt="Large Logo" class="opti_large-logo opti_mouse-pointer" height="70" />
                  <img src="assets/images/deletelater/airbnblogo1.svg" alt="Logo" class="opti_small-logo opti_mouse-pointer" width="50" height="70" />
                </section>

                <!-- theme change  -->
                <section id="opti_changeThemeID">
                    <kendo-buttongroup>
                        <button kendoButton [togglable]="true" id="opal">
                          Opal
                        </button>
                        <button kendoButton [togglable]="true" id="flat">
                          Flat
                        </button>
                        <button kendoButton [togglable]="true">
                          Underline
                        </button>
                    </kendo-buttongroup>
                </section>

            </div>
        </div>
    </div>        
</section>
<!-- left panel end -->