<div class="opti_position-relative opti_tab-outer">
  <ul #optiTab class="opti_tab tabs clearfix" id="opti_TabID">
      <li class="opti_tablinks active">
        <a href="javascript:void('0');">Add Contact </a>
      </li>
  </ul>
</div>

<div class="opti_tabcontent">
  <div class="opti_customer-contact-add opti_position-relative opti_fullheight" id="opti_CustomerContactAddID" [perfectScrollbar]="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

            <!-- loader start -->
            <!-- <div class="opti_loader opti_loader-header-tab">
                <div class="opti_spinner"></div>
            </div> -->
            <!-- loader end --> 
            

          <div class="card">
            <div class="card-block">
              <form class="k-form" #contactForm="ngForm">

                <!-- <label class="k-form-field">
                    <span class="opti_form-label">Contact Id</span>
                    <input name="contactId" type="text" class="k-textbox" [(ngModel)]="contactId" />
                </label> -->

                <label class="k-form-field">
                    <span class="opti_form-label">Contact Name
                        <span *ngIf="contactName.errors && (contactName.dirty || contactName.touched)" class="float-right opti_signup-validation-top-side opti_error-msg" >Please enter contact name.</span>
                    </span>
                    <input name="contactName" required #contactName=ngModel  placeholder="e.g. Kevin Peter" type="text" class="k-textbox" [(ngModel)]="contactModel.ContactName" />
                </label>

                <label class="k-form-field">
                    <span class="opti_form-label">Phone
                        <span *ngIf="phone.errors && (phone.dirty || phone.touched)" class="float-right opti_signup-validation-top-side opti_error-msg" >Please enter phone number.</span>
                    </span> 
                    <input name="phone" type="text"  placeholder="e.g. +01 321 856 5478" class="k-textbox" required #phone=ngModel [(ngModel)]="contactModel.PhoneNumber"  />
                </label>
                <label class="k-form-field">
                    <span class="opti_form-label">Email
                        <span *ngIf="RequesterEmail.errors?.required && (RequesterEmail.dirty || RequesterEmail.touched)" class="float-right opti_signup-validation-top-side opti_error-msg" >Please enter emailId.</span>
                        <span *ngIf="RequesterEmail.errors?.email && RequesterEmail.touched && !RequesterEmail.errors?.required" class="float-right opti_signup-validation-top-side opti_error-msg">
                            Please enter valid emailId. 
                        </span>  
                    </span>
                    <!-- <input name="email" type="text"  placeholder="e.g. kevin@gmail.com"  value="email" required type="email" #RequesterEmail=ngModel class="k-textbox" [(ngModel)]="contactModel.ContactEmail" /> -->
                    <input name="RequesterEmail" required email #RequesterEmail=ngModel [(ngModel)]="contactModel.ContactEmail" type="email"
                    class="k-textbox" value="email" placeholder="e.g. kevin@gmail.com"
                    placement="right" container="body" autocomplete="off"/>
                </label>

                <label class="k-form-field">
                    <span class="opti_form-label">Address
                            <span *ngIf="Address.errors && (Address.dirty || Address.touched)" class="float-right opti_signup-validation-top-side opti_error-msg" >Please enter address.</span>
                    </span>
                    <textarea class="k-textarea" required #Address=ngModel name="address" [(ngModel)]="contactModel.Address" >Address</textarea>
                </label>

                <label class="k-form-field">
                    <span class="opti_form-label">Status</span>
                    <!-- <kendo-dropdownlist
                        [data]="listItems"
                        textField="text"
                        valueField="value"
                        [(ngModel)]="selectedItem"
                    > 
                    </kendo-dropdownlist>-->
                    <kendo-dropdownlist name="status" [data]="listItems" (valueChange)="valueChange($event)"  [(ngModel)]="contactModel.Status" [valuePrimitive]="true" [textField]="'text'" [valueField]="'value'" [disabled]="isDisableStatusField==true">
                    </kendo-dropdownlist>
                </label>

                <div class="text-right">
                    <button type="button" class="k-button k-primary" [disabled]="!contactForm.form.valid"  (click)="AddContact()">Save</button>
                    
                    <button type="button" class="k-button" (click)="closeRightSidebar()">Cancel</button>
                </div>

              </form>
            </div>
          </div>
        </div> 
      </div> 
    </div>  
  </div>
</div>  