<!-- loader start -->
<!-- <div class="opti_loader opti_loader-item-tab-grid" *ngIf="showLoader">
    <div class="opti_spinner"></div>
</div> -->
<!-- loader end --> 

<!-- <ng-container *ngIf="showLoader==false"> -->
<kendo-grid 
[kendoGridBinding]="gridItemsData" 
[resizable]="false" 
[pageSize]="50" 
[pageable]="true" 
[sortable]="true" 
[groupable]="false" 
[columnMenu]="{ columnChooser: false }" 
[height]=gridHeight-56
[selectable]="true"
(selectionChange)="onItemGridDataSelection($event, true)" #gridItemsValues>
<kendo-grid-messages 
noRecords="{{'Common_No_GridRecords'|translate}}">
</kendo-grid-messages>

    <!-- (click)="openRightSection(true)" -->

    <!-- grid template start --> 
    <ng-template kendoGridToolbarTemplate>
        <!-- show hide column start show hide -->
        <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

        <!-- checkbox -->
        <form class="k-form opti_show-hide-grid-column-filter float-left">
            <div class="k-form-field">
                <input type="checkbox" id="opti_ColumnFilterItemID" class="k-checkbox" name="columnfilter"
                />
                <label class="k-checkbox-label" for="opti_ColumnFilterItemID">{{'Common_EnableFilter'|translate}}</label>
            </div>
        </form>

        <!-- xlsx button start -->
        <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton">
            <svg-icon src="{{imgPath}}/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
        </button>

        <!-- add items -->
        <div class="float-right">
            <svg-icon #showItemButtonSection src="{{imgPath}}/common/add.svg" (click)="showAddItemSection()" [svgStyle]="{ 'width.px':16, 'height.px':16}"
                class="opti_vertical-align" style="height: 30px;cursor: pointer;display: inline-flex;"></svg-icon>
        </div>
    </ng-template>
    <!-- grid template end -->

    <!-- grid column start -->
    <!-- <kendo-grid-column field="PurchaseInquiryItemId" [width]="160" title="Id" filter="numeric" ></kendo-grid-column>
    <kendo-grid-column field="Description" title="Description" [width]="140"></kendo-grid-column> -->
    <kendo-grid-column field="CustomerItemCode" title="{{'PI_ItemDetails'|translate}}" [width]="200"></kendo-grid-column>
    <kendo-grid-column field="Quantity"  title="{{'PI_Quantity'|translate}}" [width]="160" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="Unit" title="{{'PI_Unit'|translate}}" [width]="140" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="Requester" title="{{'PI_Requester'|translate}}" [width]="140"></kendo-grid-column>
    <kendo-grid-column field="RequestDate" title="{{'PI_RequestDate'|translate}}" [width]="140" type=date filter="date" format="displayDateformat"></kendo-grid-column>
    <kendo-grid-column field="RequiredDate" title="{{'PI_RequiredDate'|translate}}" [width]="140" type=date filter="date" format="displayDateformat"></kendo-grid-column>
    <kendo-grid-column field="ShipToLocation" title="{{'PI_ShipToLocation'|translate}}" [width]="140"></kendo-grid-column>
    <!-- grid column end -->

    <!-- xlsx template start -->
    <kendo-grid-excel fileName="Items.xlsx"></kendo-grid-excel>
    <!-- xlsx template end -->

</kendo-grid>
  <!-- </ng-container>   -->
