// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// imports for all mixins + global project variables
// @import '_typography';
// @import '_button';
// @import '_grid';

// Some Basic Variable
$top-bar-height:65px;
$list-hover-bg-color: #f2f4f8;
$list-bg-color: #F8F8F8;
$list-seprator-color:rgba(120, 130, 140, 0.13);
$light-black:#333;
$dark-black:#333;

// Truncate
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// font size
// $font-family-lato: 'Lato', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
@mixin font($size: false, $weight: false,  $lh: false) {
    font-family: $font-family-roboto; 
    @if $size { font-size: $size; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}

// pseudo
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

// To quickly centre a block element
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

// border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

 // margin
@mixin margin($top: false, $right: false, $bottom: false,  $left: false) {
    @if margin-bottom {margin-bottom: $bottom;}
    @if margin-right   {margin-right: $right;}
    @if margin-left     {margin-left: $left;}
    @if margin-top       {margin-top: $top;}
 }

 // padding
@mixin padding($top: false, $right: false, $bottom: false,  $left: false) {
    @if padding-bottom {padding-bottom: $bottom;}
    @if padding-right   {padding-right: $right;}
    @if padding-left     {padding-left: $left;}
    @if padding-top       {padding-top: $top;}
 }

// Background Gradient
// @param {Color} $startColor [#3C3C3C] - Start Color
// @param {Color} $endColor [#999999] - End Color
// @mixin background-gradient($startColor: $start-color, $endColor: $end-color){
//     background-color: $startColor;
//     background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
//     background-image: -webkit-linear-gradient(top, $startColor, $endColor);
//     background-image: -moz-linear-gradient(top, $startColor, $endColor);
//     background-image: -ms-linear-gradient(top, $startColor, $endColor);
//     background-image: -o-linear-gradient(top, $startColor, $endColor);
//     background-image: linear-gradient(top, $startColor, $endColor);
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}');
// }

// Align Vertically
.opti_table-v-middle{
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
    .opti_table-cell-v-middle{
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}
  
.opti_vertical-align{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

// Anchor Pointer
.opti_mouse-pointer{
    cursor: pointer;
}

// Display Inline
.opti_display-inline{
    display: inline;
}

// Display Inline Flex
.opti_display-inline-flex{
    display: inline-flex;
}

// Position Relative
.opti_position-relative{
    position: relative;
}

// Line Seprator
.opti_seprator{
    height: 1px;
    // margin: 9px 0;
    overflow: hidden;
    background-color: $list-seprator-color;
    padding: 0;
}

// Icon spacing
.opti_icon-spacing{
    padding: 0 10px;
}
.opti_icon-spacing:first-child{
    padding: 0 10px 0 0;
}
.opti_icon-spacing:last-child{
    padding: 0 0 0 10px;
}

// Default Top Bar Height
.opt_top-bar-height{
    height: $top-bar-height;
}

// Content Padding
.opt_content-padding{
    padding-top: 15px;
    padding-bottom:15px;
}

// Hide element In Desktop And Ipad
.opti_hide-in-desktop-ipad{
    display: none;
}

// Styling For List
ul{
    padding: 0;
    margin: 0;
    li.opti_list{
        padding: 10px 15px;
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        cursor: pointer;
    }
}

ul{
    li{
        list-style: none;
    }
}

// List Style One
ul.opti_liststyle-one-ul{
    .opti_liststyle-one-li{
        display: flex;
        padding: 10px 15px;
        border-bottom: 1px solid rgba(120, 130, 140, 0.13);
        cursor: pointer;
        .opti_liststyle-one-image {
            width: 30px;
            float: left;
        }
        .opti_liststyle-one-text {
            float: left;
            width: calc(100% - 30px);
            padding-left: 10px;
            h5, p{
                margin-bottom: 0;
            }
            p.opti_date {
                font-size: 12px;
            }
        }
        img{
            border-radius: 50%;
        }
    }
}