@import '_base';

button {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid;
    // margin: 0 5px;
    cursor: pointer;
    // &:first-child{
    //     margin-left: 0;
    // }
    // &:last-child{
    //     margin-right: 0;
    // }
    &:focus {
        outline: none;
    }
}