/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Add Item CSS//////////////////////
/////////////////////////////////////////////////////////////////////

#opti_AddItemFormSectionID{
    kendo-datepicker{
        kendo-dateinput{
          width: calc(100% - 30px);
        }
        .k-dateinput-wrap, .k-select {
            border: none ;
        }
        .k-picker-wrap {
            border-color: $input-border-color;
        }
    }
  }
  
  /////////////////////////////////////////////////////////////////////
  /////////////////////////////end Add Item CSS////////////////////////
  /////////////////////////////////////////////////////////////////////

  /////////////////////////////////////////////////////////////////////
/////////////////////////////some common css start///////////////////
/////////////////////////////////////////////////////////////////////

app-attachment, 
app-attachment-item, 
app-sales-order-detail-attachment, 
app-sales-quotations-detail-attchment,
app-delivery-notes-detail-attachment,
app-customer-purchase-order-attachment{
  kendo-grid{
    table{
      tbody{
        tr td:first-child{
          text-align: center;
          svg-icon{
            cursor: pointer;
          }  
        }
      }
    }
  }
}

body.opti_body-sales-order{
  #opti_DeliveryNotesListID kendo-grid{
      margin-top: 8px;
  }
  
  app-delivery-notes-list {
    kendo-grid-toolbar{
      .opti_common-search-form,
      .opti_show-hide-grid-column-filter .k-form-field.float-left:last-child{
        display: none;
      }
    }
    .opti_loader.opti_loader-module-grid-list{
      height: calc(100vh - 140px) !important;
      width: calc(100% - 30px) !important;
    } 
  } 
  
}

#opti_ConsignInventorySrBatchDetalID kendo-grid{
    margin-top: 8px;
}
/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css end/////////////////////
/////////////////////////////////////////////////////////////////////