/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Add Item CSS//////////////////////
/////////////////////////////////////////////////////////////////////

#opti_AddItemFormSectionID{
    kendo-datepicker{
        kendo-dateinput{
          width: calc(100% - 30px);
        }
        .k-dateinput-wrap, .k-select {
            border: none ;
        }
        .k-picker-wrap {
            border-color: $input-border-color;
        }
    }
  }
  
  /////////////////////////////////////////////////////////////////////
  /////////////////////////////end Add Item CSS////////////////////////
  /////////////////////////////////////////////////////////////////////

  /////////////////////////////////////////////////////////////////////
/////////////////////////////some common css start///////////////////
/////////////////////////////////////////////////////////////////////

app-attachment, 
app-attachment-item, 
app-sales-order-detail-attachment, 
app-sales-quotations-detail-attchment,
app-delivery-notes-detail-attachment,
app-customer-purchase-order-attachment{
  kendo-grid{
    table{
      tbody{
        tr td:first-child{
          text-align: center;
          svg-icon{
            cursor: pointer;
          }  
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css end/////////////////////
/////////////////////////////////////////////////////////////////////