@import '_base';

// 1. Layout CSS
// 2. Logo CSS
// 3. Top Bar CSS

////////////////////////////////////////////////////////////////
/////////////////////1. Layout css///////////////////////////
////////////////////////////////////////////////////////////////
#opti_WrapperID{
    display: flex;
    align-items: stretch;
    #opti_LeftPanelID{
        min-width: 250px;
        max-width: 250px;
        // transition: all 0.3s;
    }

    // left panel id
    #opti_LeftPanelID.opti_sidebar-minimize {
        min-width: 80px;
        max-width: 80px;
        
    }

    #opti_LeftPanelID{
        height: 100vh;
    }
    
    // right panel id
    #opti_RightPanelID.opti_sidebar-minimize { // width after close sidebar
        // $top-bar-height : 70px;
        width: calc(100% - 80px);
    }

    #opti_RightPanelID{ // width after open sidebar
        width: calc(100% - 250px);
    }

    #opti_RightPanelID{
        height: 100vh;
    }

    // mian content area
    #opti_MainContentID { // main content height(After deduct top bar height)
        // $top-bar-height : 70px;
        height: calc(100% - 70px);
        overflow-y: scroll;
    }

    // top panel
    section#opti_TopBarID {
        min-height: $top-bar-height;
    }
}


////////////////////////////////////////////////////////////////
/////////////////////2. Logo css///////////////////////////
////////////////////////////////////////////////////////////////

// set width and height of logo
.opti_logo.opti_vertical-align{
    height: $top-bar-height;
    width: 100%;
}

// if left panel close
.opti_sidebar-minimize{
    .opti_logo{
        .opti_large-logo{
            display: none;
        }
        .opti_small-logo{
            display: block;
        }
    }
}

// if left panel open
.opti_logo{
    .opti_large-logo{
        display: block;
    }
    .opti_small-logo{
        display: none;
    }
}

.opti_mobile-logo{
    display: none;   
}
.opti_device-logo{
    display: block;   
}

////////////////////////////////////////////////////////////////
/////////////////////3. Top Bar css///////////////////////////
////////////////////////////////////////////////////////////////
#sidebarCollapse.opti_vertical-align{
    height: $top-bar-height;
}

// if left panel close
.opti_sidebar-minimize{
    #sidebarCollapse{
        .opti_hamburger{
            display: none;
        }
        .opti_close-hamburger{
            display: block;
        }
    }
}

// if left panel open
#sidebarCollapse{
    .opti_hamburger{
        display: block;
    }
    .opti_close-hamburger{
        display: none;
    }
}