@import '_base';

// 1. Layout CSS
// 2. Top Bar CSS


////////////////////////////////////////////////////////////////
/////////////////////1. Layout css//////////////////////////////
////////////////////////////////////////////////////////////////
ul {
    padding: 0;
    margin: 0;
}

#opti_WrapperID{
    display: flex;
    align-items: stretch;
    #opti_LeftPanelID{
        min-width: 250px;
        max-width: 250px;
        // transition: all 0.3s;
    }

    // left panel id
    #opti_LeftPanelID.opti_sidebar-minimize {
        min-width: 80px;
        max-width: 80px;
        
    }
    #opti_LeftPanelID{
        height: 100vh;
    }
    
    // right panel id
    #opti_RightPanelID.opti_sidebar-minimize { // width after close sidebar
        width: calc(100% - 80px);
    }
    #opti_RightPanelID{ // width after open sidebar
        width: calc(100% - 250px);
    }
    #opti_RightPanelID{
        height: 100vh;
    }

    // mian content area
    #opti_MainContentID {
        height: calc(100% - 65px); // top bar height 65px
        overflow-y: scroll;
    }

    // top panel
    section#opti_TopBarID {
        min-height: $top-bar-height;
    }
}

////////////////////////////////////////////////////////////////
/////////////////////2. Top Panel /////////////////////////////
////////////////////////////////////////////////////////////////

// if left panel close
#opti_RightPanelID.opti_sidebar-minimize{ // .opti_sidebar-minimize can't access this class in top.component that's why we are using here
    #sidebarCollapse{
        .opti_backarrow{
            display: none;
        }
        .opti_hamburger{
            display: block;
        }
        .opti_mobile-menu-icon{
            display: none;
        }
    }
}