// font size
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 64px;
$font-size-xxxx-large: 96px;


// font weight
$font-weight-light:	300;
$font-weight-regular:400;
$font-weight-bold:	700;

