@import '_typography';
@import '_button';
@import '_layout';
@import '_responsive';

  // CSS related to signin page
  body.opti_body-login{
    // width: 100%;
    // background-image: url('../blue-bg.jpg');
    // background-size: 600% 100%;
    // -webkit-animation: HeroBG 20s ease infinite;
    //         animation: HeroBG 20s ease infinite;

    background-image: url('/assets/images/signin/dummy1.jpg');
    background-position: center center;
    background-size: cover;
  }
  
  @-webkit-keyframes HeroBG {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  @keyframes HeroBG {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  // CSS related to signup page
  .opti_body-signup{
    background-image: url('/assets/images/signup/dummy1.jpg');
    background-position: center center;
    background-size: cover;
  }
  

  // Custom Over css for Kendo
  .k-form .k-form-field, .k-form .k-form-field:last-child, .k-form-inline .k-form-field, .k-form-inline .k-form-field:last-child {
      margin-bottom: 8px !important;
  }
  .k-textbox, .k-input.k-textbox, .k-textarea, .k-dropdown-wrap > .k-input{
    font-size: 11px !important;
  }
