@import '_typography-button-layout';
@import '_responsive';
@import '_custom-kendo';
@import '_common';

@import '_customer-portal';
@import '_vendor-portal';


/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Account CSS///////////////////////
/////////////////////////////////////////////////////////////////////

// can not move this css in specific component and and account css becuase here we are useing css on the basis of body and if we will call  in specific component than it will not work

  // set password
  // login
  // signup

  body.opti_account-module
  {
    // background-image: url('/assets/images/signup/nouse/shutter/body-bg-new-5.jpg');
    background-position: center center;
    background-size: cover;
    padding: 50px;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
  }

  /////////////////////////////////////////////////////////////////////
/////////////////////////////End Account CSS/////////////////////////
/////////////////////////////////////////////////////////////////////  

/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Add Item CSS//////////////////////
/////////////////////////////////////////////////////////////////////

// #opti_AddItemFormSectionID{
//   kendo-datepicker{
//       kendo-dateinput{
//         width: calc(100% - 30px);
//       }
//       .k-dateinput-wrap, .k-select {
//           border: none ;
//       }
//       .k-picker-wrap {
//           border-color: $input-border-color;
//       }
//   }
// }

/////////////////////////////////////////////////////////////////////
/////////////////////////////end Add Item CSS////////////////////////
/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Purchase Inquiry//////////////////
/////////////////////////////////////////////////////////////////////

kendo-grid tr:hover dl span,
kendo-grid tr:hover dl span strong {
  color: white;
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////end Purchase Inquiry//////////////////
/////////////////////////////////////////////////////////////////////




/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css start///////////////////
/////////////////////////////////////////////////////////////////////

// app-attachment, 
// app-attachment-item, 
// app-sales-order-detail-attachment, 
// app-sales-quotations-detail-attchment,
// app-delivery-notes-detail-attachment,
// app-customer-purchase-order-attachment{
//   kendo-grid{
//     table{
//       tbody{
//         tr td:first-child{
//           text-align: center;
//           svg-icon{
//             cursor: pointer;
//           }  
//         }
//       }
//     }
//   }
// }

/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css end/////////////////////
/////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////
/////////////////////////////File drop css start/////////////////////
/////////////////////////////////////////////////////////////////////
#opti_purchaseInquiryAttachementSectionID,
#opti_purchaseInquiryItemAttachementSectionID,
#opti_CustomerPurchaseOrderAttachmentID,
#opti_InvoiceAttchmentID,
#opti_ASNDetailAttchment{
  file-drop #dropZone{
    margin: 0;
    height: auto;
    border: none;
    .content{
      height: auto;
    }
  }
}

#opti_purchaseInquiryAttachementSectionID,
#opti_purchaseInquiryItemAttachementSectionID,
#opti_CustomerPurchaseOrderAttachmentID,
#opti_InvoiceAttchmentID,
#opti_ASNDetailAttchment{
  .drop-zone{
    width: 100%;
    kendo-grid{
      width: 100%;
    }
  }
  .drop-zone.over{
    background-color: transparent;
  }
}
/////////////////////////////////////////////////////////////////////
/////////////////////////////File drop css start/////////////////////
/////////////////////////////////////////////////////////////////////

/*css added for UI fixes*/
.opti_tabcontent .k-header.k-grid-toolbar .opti_common-search-form .k-textbox {
  height: calc(1.5em + (0.375rem * 2) + (1px * 1));
}
.kendoGrid_Toolbar--flex kendo-grid-toolbar{
  display: inline-flex;
  align-items: center;
  min-height: fit-content;
  @media screen and (max-width:1199px){
    flex-wrap: wrap; 
    height: auto;
    min-height: fit-content;
  }
}
.kendoGrid_Collaps--smallBtn{
  .k-hierarchy-cell{
    .k-icon{
      padding: 0 !important;
    }
  }
}
body .k-calendar.k-calendar-range > .k-button {
  width:25px;
}
body .k-calendar.k-calendar-range > .k-calendar-view{
  padding: 0 10px;
}
body .k-calendar.k-calendar-range .k-calendar-header{
  padding-top: 0;
}
body .k-calendar.k-calendar-range table > tbody {
  padding:0 0 5px;
  @media screen and (max-width:575px){
    padding:0;
  }
}
body .k-calendar.k-calendar-range table > tbody + tbody {
  margin-left: 15px;
  @media screen and (max-width:575px) and (orientation : portrait){
    margin-left: 0;
  }
  @media screen and (max-width:575px) and (orientation : landscape){
    margin-left: 10px;
  }
}
body .k-calendar.k-calendar-range table > tbody + tbody tr:first-child{
  @media screen and (max-width:575px) and (orientation : portrait){
    display: none;
  }
}
body .k-calendar-monthview .k-content th{
  opacity: 1;
  text-align: center;
  padding: 5px 0 5px;
  @media screen and (max-width:575px) {
    font-size: 10px;
    padding: 0 0 5px;
  }
}
body .k-calendar-monthview .k-content .k-link, 
body .k-calendar-view .k-content .k-link{
  width: 30px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  @media screen and (max-width:575px){
    line-height: 20px;
    height: 20px;
    width: 24px;
    font-size: 10px;
  }
}
body .k-calendar-monthview .k-content td, 
body .k-calendar-view .k-content td{
  width: 30px;
  height: 30px;
  @media screen and (max-width:575px){
    height: 20px;
    width: 24px;
  }
}
body .k-calendar-monthview .k-calendar-header .k-title, 
body .k-calendar-view .k-calendar-header .k-title,
body .k-calendar-view .k-calendar-header .k-today{
  font-size: 12px;
  @media screen and (max-width:575px){
    font-size: 10px;
  }
}
body .k-calendar-view .k-calendar-header .k-today{
  @media screen and (max-width:575px) and (orientation : portrait){
    display: none;
  }
}
body .k-calendar-monthview, 
body .k-calendar-view{
  height: auto;
}
body .k-calendar.k-calendar-range>.k-button{
  margin: 0;
}
body .k-calendar.k-calendar-infinite{
  margin: -8px 0;
}
body .k-calendar.k-calendar-infinite .k-content{
  height: auto;
  @media screen and (max-width:575px) and (orientation : portrait){
    display: flex;
    width: 167px;
    flex-wrap: wrap;
  }
}