<div class="opti_position-relative" id="opti_purchaseInquiryItemAttachementSectionID">

    <div *ngIf="isCancelStatus" class="opti_overrite-section-for-disable"></div>

    <div class="row">
        <div class="col-md-12">

    <ng-container *ngIf="showGrid==false">
                   
          <!-- loader start -->
          <div class="opti_loader opti_loader-item-attchement-tab-grid" *ngIf="showLoader==true">
            <div class="opti_spinner"></div>
        </div>

        <!-- loader end -->
        <ng-container *ngIf="showLoader==false">
        <label class="opti_custom-file-upload">
            <input #file type="file" multiple (change)="upload(file.files)" /> 
            <img src="assets/images/common/image-upload.svg" width="16px" height="16px" /> Upload
        </label>
        <!-- {{selectedFileName}} -->
        <br />
        <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
            {{progress}}%
        </span>
        <span style="font-weight:bold;color:green;" *ngIf="message">
            {{message}}
        </span>        
        <button (click)="back()">Cancel</button>   
        </ng-container>   
    </ng-container>

    <!-- start attachement grid -->
    <ng-container *ngIf="showGrid==true">

        <!-- loader start -->
        <div class="opti_loader opti_loader-attchement-tab-grid" *ngIf="showLoader==true">
        <div class="opti_spinner"></div>
    </div>
    
    <!-- items attachement grid start -->
    <ng-container *ngIf="isGridStatus==true">    
        <kendo-grid  
        [data]="gridAttachmentData" 
        [resizable]="false" 
        [pageSize]="50" 
        [height]=gridHeight-56-39
        [pageable]="true" 
        [sortable]="true" 
        [filterable]=isColumnFilterItemsAttachementGrid
        [groupable]="false" 
        [columnMenu]="{ columnChooser: false }" 
        
        [selectable]="true"
        name="gridAttachmentData"
        #gridAttachementsValues>

        <!-- [height]=gridHeight-41-80  -->

            <!-- grid template start -->
            <ng-template kendoGridToolbarTemplate>
                <!-- show hide column start show hide -->
                <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

                <!-- checkbox -->
                <form class="k-form opti_show-hide-grid-column-filter float-left">
                    <div class="k-form-field">
                        <input type="checkbox" id="opti_ColumnItemsFilterattachementID" [(ngModel)]="isColumnFilterItemsAttachementGrid" class="k-checkbox" name="columnfilter"
                        />
                        <label class="k-checkbox-label" for="opti_ColumnItemsFilterattachementID">Enable Filter</label>
                    </div>
                </form>

                <!-- xlsx button start -->
                <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton">
                    <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                </button>

                <div class="float-right">
                    <svg-icon src="assets/images/common/add.svg" (click)="showTabAddAttachementForm()" [svgStyle]="{ 'width.px':20, 'height.px':20}"
                    class="opti_vertical-align float-left opti_icon-spacing" style="height: 30px;cursor: pointer;display: inline-flex;"></svg-icon>
                </div>

                
            </ng-template>
            <!-- grid template end -->

            <!-- grid column start -->
            <kendo-grid-column field="AttachmentName" title="Name" [width]="160" ></kendo-grid-column>
            <kendo-grid-column field="SizeInKb"  title="Size(In KB)" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="AttachmentTypeText"  title="Attchment Type" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="CreatedByName"  title="Created By" [width]="150"></kendo-grid-column>                    
            <kendo-grid-column field="ParentIdText"  title="Reference" [width]="100"></kendo-grid-column>
            <!-- grid column end -->

            <!-- xlsx template start -->
            <kendo-grid-excel fileName="attachements.xlsx"></kendo-grid-excel>
            <!-- xlsx template end -->

        </kendo-grid>
    </ng-container>    
    <!-- items attachement grid end -->

   </ng-container>
   <!-- end attachement grid -->

    <!-- upload section start-->
    <!-- <ng-container *ngIf="isGridStatus==false">    
        <kendo-upload class="opti_items-upload" [saveUrl]="uploadAttachementItemSaveUrl" [removeUrl]="uploadAttachementItemRemoveUrl"></kendo-upload>
        <div class="text-right">
            <button type="button" class="k-button k-primary" (click)="showGrid();" style="margin-top: 10px;">Ok</button>
        </div>
    </ng-container> -->
    <!-- upload section end -->

</div>
</div>
</div>
