.opti_items-grid{
    margin-right: 20px;
}


// right section for tab




.opti_tabcontent{
    kendo-grid {
        box-shadow:none;
    }
}

// pdf button

.opti_show-hide-grid-column-filter{
    width: 253px;
}



