.opti_items-grid{
    margin-right: 20px;
}


// opti note list
// .opti_notes-list{
//     li{
//         margin-bottom: 20px;
//         .opti_notes-list-msg {
//             border: 1px solid #c7c7c7;
//             padding: 5px;
//             border-radius: 5px;
//         }
//         span{
//             font-weight: 500;
//         }

//         .opti_note-action-button-sec{
//             position: relative;
//             top: -5px;
//         }
//     }
// }
.opti_note-msg{
    border: 1px solid #c7c7c7;
    padding: 5px;
    border-radius: 5px;
}
