<section id="opti_MainContentID" [perfectScrollbar]="config" class="opti_position-relative">
    <div style="padding: 10px;">
        <kendo-grid
        [kendoGridBinding]="gridData"
        [resizable]="true"
        [pageSize]="50"
        [pageable]="true"
        [sortable]="true"
        [filterable]=isColumnFilter
        [groupable]="false"
        [columnMenu]="{ columnChooser: false }"
        [height]=gridHeight
        >

            <!-- (click)="openRightSection(true)" -->

            <!-- grid template start -->
            <ng-template kendoGridToolbarTemplate>
                <!-- show hide column start show hide -->
                <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

                <!-- <button type="button" (click)="openRightSection(true)" style="margin-left: 20px;margin-top: 2px;"> -->
                    <!-- Add new Request -->
                    <svg-icon src="assets/images/common/add.svg" (click)="openRightSection(true)" [svgStyle]="{ 'width.px':20, 'height.px':20}" class="opti_vertical-align" style="height: 30px;margin-left: 20px;cursor: pointer;display: inline-flex;"></svg-icon>
                <!-- </button> -->

                <div class="float-right">
                    <!-- checkbox -->
                    <form class="k-form opti_show-hide-grid-column-filter float-left">
                        <div class="k-form-field">
                            <input type="checkbox" id="opti_ColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                            <label class="k-checkbox-label" for="opti_ColumnFilterID">Filter</label>
                        </div>
                    </form>
                    <!-- pdf button start -->
                    <button kendoGridPDFCommand icon="file-pdf" class="float-right opti_grid-toolbar-pdfbutton">
                        <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':20, 'height.px':20}" class="" style=""></svg-icon>
                    </button>
                </div>    
            </ng-template>

            <!-- grid template end -->
            <kendo-grid-column field="Inquiry" [width]="100"></kendo-grid-column>
            <kendo-grid-column field="Customer" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="Name" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="Status" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="CreatedDate" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="BuyerCreatedBy" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="ValidUntil" [width]="140"></kendo-grid-column>
            <kendo-grid-column field="Reference" [width]="140"></kendo-grid-column>
        
            <!-- pdf template start -->
            <kendo-grid-pdf fileName="Products.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                    <div class="page-template">
                    <div class="header">
                        <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
                        Multi-page grid with automatic page breaking
                    </div>
                    <div class="footer">
                        Page {{ pageNum }} of {{ totalPages }}
                    </div>
                    </div>
                </ng-template>
            </kendo-grid-pdf>
            <!-- pdf template end -->

        </kendo-grid>
    </div>
</section>

<!-- start right fix section start here -->

    <div class="opti_right-fix-section"  [ngStyle]="{'display':isFixedRightSection == true ? 'block' : 'none' }">
        <svg-icon src="assets/images/common/back-opposite.svg" (click)="closeRightSection(false)" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }" class="float-right opti_vertical-align opti_close-icon-right-section"></svg-icon>
        <!-- tab start -->
        <div class="opti_position-relative opti_tab-outer" [perfectScrollbar]="config">
            <ul class="opti_tab tabs clearfix" id="opti_TabID">
                <li class="opti_tablinks active" (click)="openTab($event, 'home')"><a href="javascript:void('0');" >Home</a></li>
                <li class="opti_tablinks" (click)="openTab($event, 'items')"><a href="javascript:void('0');" >Items</a></li>
                <li class="opti_tablinks" (click)="openTab($event, 'attachement')"><a href="javascript:void('0');" >Attachements</a></li>
                <li class="opti_tablinks" (click)="openTab($event, 'notes')"><a href="javascript:void('0');" >Notes</a></li>
            </ul>
        </div>

        <div id="home" class="opti_tabcontent opti_position-relative" style="display: block;" [perfectScrollbar]="config">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <form class="k-form">
                                    <label class="k-form-field">
                                        <span class="opti_form-label">Inquiry#</span>
                                        <input type="text" class="k-textbox" value="" placeholder="Inquiry" disabled />
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Customer</span>
                                        <input type="text" class="k-textbox" value="" placeholder="Customer" />
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Name</span>
                                        <input type="text" class="k-textbox" value="" placeholder="Name" />
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Status</span>
                                        <kendo-dropdownlist name="role" [data]="status" [textField]="'text'" [valueField]="'value'" [(ngModel)]="selectedStatusItem">
                                        </kendo-dropdownlist>
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Created Date</span>
                                        <kendo-datepicker [(value)]="valueCreatedDate"> </kendo-datepicker>
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Buyer/Created By</span>
                                        <kendo-datepicker [(value)]="valueCreatedBy"> </kendo-datepicker>
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Valid Until</span>
                                        <kendo-datepicker [(value)]="valueValidUntill"> </kendo-datepicker>
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Reference</span>
                                        <input type="text" class="k-textbox" value="" placeholder="Reference" />
                                    </label>

                                    <div class="text-right">
                                        <button type="button" class="k-button k-primary">Submit</button>
                                        <button type="button" class="k-button">Save as draft</button>
                                        <button type="button" class="k-button">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

        </div>
        
        <div id="items" class="opti_tabcontent opti_position-relative" [perfectScrollbar]="config">

            <!-- add items form section -->
            <div #AddItemFormSection id="opti_AddItemFormSectionID" style="display: none;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="card" >
                                <div class="card-block">
                                    <form class="k-form">
                                        <label class="k-form-field">
                                            <span class="opti_form-label">Item Id</span>
                                            <input class="k-textbox" placeholder="Item Id" />
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Description</span>
                                            <input type="text" class="k-textbox" value="" placeholder="Description" />
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Customer Item Id / description</span>
                                            <input type="text" class="k-textbox" value="" placeholder="Customer Item Id / description" />
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Item Quantity</span>
                                            <input type="text" class="k-textbox" value="" placeholder="Item Quantity" />
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Item Unit</span>
                                            <input type="number" class="k-textbox" value="" placeholder="Item Unit" />
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Requester</span>
                                            <input type="text" class="k-textbox" value="" placeholder="Requester" />
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Request Date</span>
                                            <kendo-datepicker [(value)]="valueRequestDate"> </kendo-datepicker>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Required Date</span>
                                            <kendo-datepicker [(value)]="valueRequiredDate"> </kendo-datepicker>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Ship To location</span>
                                            <textarea class="k-textarea">Location</textarea>
                                        </label>
                    
                                        <div class="text-right">
                                            <button type="button" class="k-button k-primary" (click)="addItemt()">Add Item</button>
                                            <!-- <button type="button" class="k-button" (click)="addItemtagain()">Add Item Again</button> -->
                                            <button type="button" class="k-button" (click)="addItemtagain()">Add Item Again</button>
                                            <button type="button" class="k-button">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div (click)="closeItemForm()" style="position: absolute;right: 0px;top: -16px;cursor: pointer;"> <svg-icon src="assets/images/common/back-opposite.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }" class="float-right opti_vertical-align opti_close-icon-right-section"></svg-icon> </div>
                            <h5>Upload Attachement</h5>
                            <kendo-upload
                                [saveUrl]="uploadAttachementItemSaveUrl"
                                [removeUrl]="uploadAttachementItemRemoveUrl">
                            </kendo-upload>
                            <br/>
                            <h5>Upload Notes</h5>
                            <kendo-upload
                                [saveUrl]="uploadNotesItemSaveUrl"
                                [removeUrl]="uploadNotesItemRemoveUrl">
                            </kendo-upload>
                        </div>
                    </div>    
                </div>    
            </div>
            <!-- end item form section -->

            <!-- grid start -->
            <div #gridSectionItem>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <kendo-grid
                            [kendoGridBinding]="gridItemsData"
                            [resizable]="true"
                            [pageSize]="50"
                            [pageable]="true"
                            [sortable]="true"
                            [filterable]=isColumnFilterItemsGrid
                            [groupable]="false"
                            [columnMenu]="{ columnChooser: false }"
                            [height]=gridHeight-41
                            >

                                <!-- (click)="openRightSection(true)" -->

                                <!-- grid template start -->
                                <ng-template kendoGridToolbarTemplate>
                                    <!-- show hide column start show hide -->
                                    <kendo-grid-column-chooser class="float-left opti_items-grid"></kendo-grid-column-chooser>

                                    <!-- add iten button -->
                                    <!-- <button #showItemButtonSection type="button" (click)="showItemSection()">Add new Item</button> -->
                                    <svg-icon #showItemButtonSection src="assets/images/common/add.svg" (click)="showItemSection()" [svgStyle]="{ 'width.px':20, 'height.px':20}" class="opti_vertical-align" style="height: 30px;cursor: pointer;display: inline-flex;"></svg-icon>

                                    <div class="float-right">
                                        <!-- checkbox -->
                                        <form class="k-form opti_show-hide-grid-column-filter float-left">
                                            <div class="k-form-field">
                                                <input type="checkbox" id="opti_ColumnFilterItemID" [(ngModel)]="isColumnFilterItemsGrid" class="k-checkbox" name="columnfilter" />
                                                <label class="k-checkbox-label" for="opti_ColumnFilterItemID">Filter</label>
                                            </div>
                                        </form>

                                        <!-- pdf button start -->
                                        <button kendoGridPDFCommand icon="file-pdf" class="float-right opti_grid-toolbar-pdfbutton">
                                            <!-- Export to PDF -->
                                            <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':20, 'height.px':20}" class="" style=""></svg-icon>
                                        </button>
                                    </div>    
                                </ng-template>
                                <!-- grid template end -->

                                <!-- grid column start -->
                                <kendo-grid-column field="PurchaseInquiryItemlId" [width]="120" title="ItemlId"></kendo-grid-column>
                                <kendo-grid-column field="ItemDescription" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="CustomerItemIdOrDescription" [width]="200"></kendo-grid-column>
                                <kendo-grid-column field="Quantitiy" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="Unit" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="Requester" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="RequestDate" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="RequiredDate" [width]="140"></kendo-grid-column>
                                <kendo-grid-column field="ShipToLocation" [width]="140"></kendo-grid-column>
                                <!-- grid column end -->
                            
                                <!-- pdf template start -->
                                <kendo-grid-pdf fileName="items.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                                    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                                    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                                        <div class="page-template">
                                        <div class="header">
                                            <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
                                            Multi-page grid with automatic page breaking
                                        </div>
                                        <div class="footer">
                                            Page {{ pageNum }} of {{ totalPages }}
                                        </div>
                                        </div>
                                    </ng-template>
                                </kendo-grid-pdf>
                                <!-- pdf template end -->

                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </div>
            <!-- grid end -->

        </div>

        <div id="attachement" class="opti_tabcontent opti_position-relative" [perfectScrollbar]="config">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Upload Attachement</h5>
                        <kendo-upload
                            [saveUrl]="uploadAttachementMasterSaveUrl"
                            [removeUrl]="uploadAttachementMasterRemoveUrl">
                        </kendo-upload>
                    </div>
                </div>
            </div>
        </div>

        <div id="notes" class="opti_tabcontent opti_position-relative" [perfectScrollbar]="config">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                    
                        
                        <!-- start notes grid -->
                        <div #notesgrid id="opti_NotesGridID">
                            <kendo-grid 
                            [data]="noteItemsData"
                            [resizable]="true"
                            [pageSize]="50"
                            [pageable]="true"
                            [sortable]="true"
                            [filterable]="true"
                            [groupable]="false"
                            [height]=gridHeight-41
                            >

                                <!-- grid toolbar start -->
                                <ng-template kendoGridToolbarTemplate>
                                    <!-- <button (click)="addNewComment()">Add new Notes</button>   -->
                                    <svg-icon #showItemButtonSection src="assets/images/common/add.svg" (click)="addNewComment()" [svgStyle]="{ 'width.px':20, 'height.px':20}" class="opti_vertical-align" style="height: 30px;cursor: pointer;display: inline-flex;"></svg-icon>        
                                </ng-template>
                                <!-- grid toolbar end -->

                                <kendo-grid-column media="(min-width: 320px)" title="Notes">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <dl>
                                            <dd>Created By {{ dataItem.CreatedBy }} On {{ dataItem.Date }} <span class="float-right opti_note-action-button-sec"> <svg-icon src="assets/images/common/edit.svg" (click)="editNotes($event, dataItem.Notes)" [svgStyle]="{ 'width.px':20, 'height.px':20}" class="opti_mouse-pointer"></svg-icon> <svg-icon src="assets/images/common/trash.svg" (click)="deleteNotes($event)" [svgStyle]="{ 'width.px':20, 'height.px':20}" class="opti_mouse-pointer"></svg-icon></span></dd>
                                            <dd class="opti_note-msg">{{ dataItem.Notes }}</dd>
                                        </dl>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </div>
                        <!-- end notes grid -->

                        <!-- Add Notes Form  -->
                        <div class="card" #noteform style="display: none;">
                            <div class="card-block">
                                <form class="k-form">
                                    <label class="k-form-field">
                                        <span class="opti_form-label">Add Note</span>
                                        <textarea class="k-textarea" name="addnotestring" [(ngModel)]="addnotestring">Please enter your note</textarea>
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Note Status</span>
                                        <kendo-dropdownlist name="role" [data]="noteStatus" [textField]="'text'" [valueField]="'value'" [(ngModel)]="selectedNoteStatusItem">
                                        </kendo-dropdownlist>
                                    </label>
                
                                    <div class="text-right">
                                        <button type="button" class="k-button k-primary" (click)="submitNote($event)">Add Item</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end Notes Form  -->

                        <!-- start edit form -->
                        <div class="card" #editnoteform style="display: none;">
                            <div class="card-block">
                                <form class="k-form">
                                    <label class="k-form-field">
                                        <span class="opti_form-label">Update Note</span>
                                        <textarea class="k-textarea">{{noteTextForEdit}}</textarea>
                                    </label>

                                    <label class="k-form-field">
                                        <span class="opti_form-label">Note Type</span>
                                        <kendo-dropdownlist name="role" [data]="noteStatus" [textField]="'text'" [valueField]="'value'" [(ngModel)]="selectedNoteStatusItem">
                                        </kendo-dropdownlist>
                                    </label>
                
                                    <div class="text-right">
                                        <button type="button" class="k-button k-primary" (click)="updateNote($event)">Update Item</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end edit form -->


                        



                    </div>
                </div>
            </div>
        </div>
        
        <!-- tab end -->
    </div>

