<div class="opti_delivery-notes-detail-home opti_position-relative opti_fullheight" id="opti_DeliveryNotesHomeID" [perfectScrollbar]="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

          <!-- loader start -->
          <!-- <div class="opti_loader opti_loader-header-tab">
              <div class="opti_spinner"></div>
          </div> -->
          <!-- loader end --> 
          

        <div class="card">
          <div class="card-block">
            <form class="k-form">

              <label class="k-form-field">
                  <span class="opti_form-label">Delivery#</span>
                  <input name="delivery" type="text" class="k-textbox" [(ngModel)]="delivery" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Ship Date</span>
                  <input name="shipDate" type="text" class="k-textbox" [(ngModel)]="shipdate" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Delivered Date</span>
                  <input name="deliveredDate" type="text" class="k-textbox" [ngModel]="deliveredDate"  readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Customer Name</span>
                  <input name="customerName" type="text" class="k-textbox" [ngModel]="customerName" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Way Bill #</span>
                  <input name="wayBill" type="text" class="k-textbox" [(ngModel)]="wayBill" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Tracking #</span>
                  <input name="tracking" type="text" class="k-textbox" [(ngModel)]="tracking" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Packing Slip #</span>
                  <input name="packingSlip" type="text" class="k-textbox" [(ngModel)]="packingSlip" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Mode of Shipment</span>
                  <input name="modeOfShipment" type="text" class="k-textbox" [(ngModel)]="modeOfShipment" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Shipping Method</span>
                  <input name="shippingMethod" type="text" class="k-textbox" [(ngModel)]="shippingMethod" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Ship-To Location</span>
                  <input name="shipToLocation" type="text" class="k-textbox" [(ngModel)]="shipToLocation" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Total Price</span>
                  <input name="totalPrice" type="text" class="k-textbox" [(ngModel)]="totalPrice" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Freight</span>
                  <input name="freight" type="text" class="k-textbox" [(ngModel)]="freight" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Tax</span>
                  <input name="tax" type="text" class="k-textbox" [(ngModel)]="tax" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Disc Amt</span>
                  <input name="discAmt" type="text" class="k-textbox" [(ngModel)]="discAmt" readonly />
              </label>
              
            </form>
          </div>
        </div>
      </div> 
    </div> 
  </div>  
</div>