
<button id="opal">Opal</button>
<button id="flat">Flat</button>



<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
      <p>Default Button</p>
      
      <p class="k-block">
        <button kendoButton (click)="onButtonClick()">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'"></button>
      </p>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
      <p>Bare Button</p>
      <p class="k-block">
        <button kendoButton (click)="onButtonClick()" [look]="'bare'">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'bare'">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'bare'"></button>
      </p>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
      <p>Flat Button</p>
      <p class="k-block">
        <button kendoButton (click)="onButtonClick()" [look]="'flat'">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'flat'">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'flat'"></button>
      </p>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
      <p>Outline Button</p>
      <p class="k-block">
        <button kendoButton (click)="onButtonClick()" [look]="'outline'">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'outline'">Browse</button>
        <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'outline'"></button>
      </p>
    </div>
  </div>



<h1>Heading Typography</h1>

<h1>This is heading 1</h1>
<h2>This is heading 2</h2>
<h3>This is heading 3</h3>
<h4>This is heading 4</h4>
<h5>This is heading 5</h5>
<h6>This is heading 6</h6>

<h1>Button Typography</h1>
<button>Button 1</button>


<h1>Text Typography</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<a href="javascript:void('0');">Link</a>
<h1>{{title}}</h1>


<!-- 
<link rel="stylesheet" href="../assets/css/theme/kendo.custom.flat.css" *ngIf="abc==true">
<link rel="stylesheet" href="../assets/css/theme/kendo.custom.blue.opal.css"*ngIf="abc==false" > -->
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/theme/kendo.custom.flat.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="../assets/css/theme/kendo.custom.blue.opal.css"> -->







