<section id="opti_WrapperID">

      <!-- start this left panle for Desktop -->
        <app-left *ngIf='isMobile == false'></app-left>
      <!-- end this left panle for Desktop -->

      <!-- right panel start -->
        <section id="opti_RightPanelID" class="">
            
            <!-- start Top Bar Section -->
              <app-top></app-top>
            <!-- end Top Bar Section -->

            <!-- left panel for for mobile -->
              <app-left *ngIf='isMobile == true'></app-left>
            <!-- end left for mobile -->
            
            <!-- content section strat -->
              <app-main-content></app-main-content>
            <!-- end content section strat -->
        </section>
      <!-- right panel end -->

</section>