@import 'src/assets/css/web/customer-purchase-order_module/customer_purchase_order';
.opti_loader-attachment-tab{
    height: calc(100vh - 140px);
    width: calc(100% - 30px);
}
input[type="file"] {
    display: none;
}
.opti_custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}