<div id="opti_OpenInvoicesListID">   
  <!-- loader start -->
   <div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader">
       <div class="opti_spinner"></div>
   </div>
   <!-- loader end -->  

   <ng-container *ngIf="showLoader==false">
       <!-- for normal user   -->
       <!-- <div *ngIf="systemAdmin!='true'"> -->
       <div>
           <kendo-grid 
           [kendoGridBinding]="gridData" 
           [resizable]="false" 
           [pageSize]=pageLimit 
           [pageable]=pagination 
           [sortable]="true"  
           [filterable]=isColumnFilter
           [groupable]=isColumnGroup 
           [columnMenu]="{ columnChooser: false }" 
           [height]=gridHeight 
           [selectable]="true" 
           (selectionChange)="openInvoiceDetailOnSelection($event)"
           #gridItem>
           <!-- [kendoGridBinding]="gridData | customPipeItem:searchRequest"  -->
           <!-- (selectionChange)="openInqueryDetailOnSelectInquery(gridItem, $event, true, gridItem)" -->

           <!-- grid template start -->
           <ng-template kendoGridToolbarTemplate>
               <!-- show hide column start show hide -->
               <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser>

               <!-- checkbox -->
               <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile">
                   <div class="k-form-field float-left">
                       <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_ColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                       <label class="k-checkbox-label" for="opti_ColumnFilterID">Enable Filter</label>
                   </div>

                   <div class="k-form-field float-left">
                       <input type="checkbox" id="opti_ColumnGroupID"  [(ngModel)]="isColumnGroup" class="k-checkbox" name="columnGroup" />
                       <label class="k-checkbox-label" for="opti_ColumnGroupID">Enable Grouping</label>
                   </div>
               </form>

               <!-- export -->
               <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton opti_hide-in-mobile">
                   <svg-icon src="{{imgPath}}/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
               </button>


               <div class="float-right opti_right-top-sec-grid-delivery-list-notes opti_right-top-sec-grid">
                   <!-- <svg-icon src="{{imgPath}}/common/add.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"
                       class="opti_vertical-align float-left opti_icon-spacing opti_add-request opti_hide-in-mobile"></svg-icon> -->

                   <form class="k-form opti_common-search-form float-left opti_padding-zero">
                       <label class="k-form-field opti_common-search-label">
                           <input type="text" class="k-textbox" name="searchRequest" [(ngModel)]="searchRequest" />
                           <span class="opti_vertical-align opti_mouse-pointer"><img src="{{imgPath}}/common/search-black.svg" class="" alt="Search" width="15" /></span>
                       </label>
                   </form>
               </div>
           </ng-template>
           
            <!-- grid for mobile start -->
            <kendo-grid-column media="(max-width: 767px)" title="Sales Order" class="opti_mobile-grid-td">
                <ng-template kendoGridCellTemplate let-dataItem>
                    
                    <dl class="opti_mobile_grid_dl">
                        <dt>Invoice #</dt>
                        <dd>{{ dataItem.InvoiceNumber }}</dd>

                        <dt>Invoice Date</dt>
                        <dd>{{ dataItem.InvoiceDate | date: 'dd MMM yy' }}</dd>

                        <dt>Due Date</dt>
                        <dd>{{ dataItem.DueDate | date: 'dd MMM yy' }}</dd>

                        <dt>Amount</dt>
                        <dd>{{ dataItem.Amount }}</dd>

                        <dt>Freight</dt>
                        <dd>{{ dataItem.Freight }}</dd>
                    </dl>

                    <dl class="opti_mobile_grid_dl">
                        <dt>Tax  <span class="opti_arrow-grid-detail float-right text-center opti_vertical-align">&rsaquo;</span></dt>
                        <dd>{{ dataItem.Tax }}</dd>

                        <dt>Total Amount</dt>
                        <dd>{{ dataItem.TotalAmount }}</dd>

                        <dt>Bill-To Address</dt>
                        <dd>{{ dataItem.BillToAddress }}</dd>
                        
                        <dt>Contact Person</dt>
                        <dd>{{ dataItem.ContactPerson }}</dd>
                    </dl>

                </ng-template>
            </kendo-grid-column>
            <!-- grid for mobile end -->

           <!-- grid template end -->
           <kendo-grid-column media="(min-width: 768px)" field="InvoiceNumber" title="Invoice#" [width]="160"></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="InvoiceDate" title="Invoice Date" [width]="180" filter="date" type=date format="{0:dd MMM yy}"></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="DueDate" [width]="180" title="Due Date" filter="date" type=date format="{0:dd MMM yy}" ></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="Amount" [width]="160" title="Amount" ></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="Freight" title="Freight" [width]="160"></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="Tax" title="Tax" [width]="160"></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="TotalAmount" title="Total Amount" [width]="160"></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="BillToAddress" title="Bill-To Address" [width]="160" ></kendo-grid-column>
           <kendo-grid-column media="(min-width: 768px)" field="ContactPerson" title="Contact Person" [width]="160"></kendo-grid-column>
           
           <!-- xlsx template start -->
           <kendo-grid-excel fileName="open-invoices.xlsx"></kendo-grid-excel>
           <!-- xlsx template end -->

          </kendo-grid>
       </div>
   </ng-container>
</div>
