@import 'src/assets/css/web/purchase-inquiry_module/purchase_inquiry';

#opti_gridSectionItemID{
    .opti_loader.opti_loader-item-tab-grid{
        height: calc(100vh - 140px);
        width: calc(100% - 30px);
    }
}
.opti_item-back{
    text-align: right;
    width: 100%;
    padding: 0 10px;
}