<!-- add items form section -->
<ng-container *ngIf="addItem==true">
    <!-- loader start -->
    <div class="opti_loader opti_loader-home-tab" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
    <!-- loader end -->
    <ng-container *ngIf="showLoader==false">     
        <!-- <h1>{{addOperationInProgress}}</h1>    -->
        <div #AddItemFormSection id="opti_AddItemFormSectionID" class="">
            <div class="container-fluid">
                <div class="row">

                    <div class="opti_item-back"><img (click)="showItemsGrid();" src="assets/images/common/close-black.svg" width="16px" height="16px" class="opti_mouse-pointer" /></div>

                    <!-- Tab title start -->
                    <div class="opti_position-relative opti_vertical-tab-outer" id="opti_verticalTabTitleID">
                        <ul #optiTabvertical class="opti_tab tabs clearfix" id="opti_VerticalTabID">
                            <li class="opti_tablinks-vertical active" id="opti_ItemHomeTabID" (click)="openTab($event, 'home')">
                                <a href="javascript:void('0');">
                                    <svg-icon src="assets/images/purchase-inquiries/home.svg" [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':selectedThemeColor }"></svg-icon>
                                </a>
                            </li>
                            <li class="opti_tablinks-vertical" [ngClass]="{'opti_disable-tab':addOperationInProgress === true}" (click)="openTab($event, 'attachement')">
                                <a href="javascript:void('0');">
                                    <svg-icon src="assets/images/purchase-inquiries/attchment.svg" [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':selectedThemeColor }"></svg-icon>
                                </a>
                            </li>
                            <li class="opti_tablinks-vertical" [ngClass]="{'opti_disable-tab':addOperationInProgress === true}" (click)="openTab($event, 'notes')">
                                <a href="javascript:void('0');">
                                    <svg-icon src="assets/images/purchase-inquiries/notes.svg" [svgStyle]="{ 'width.px':30, 'height.px':30, 'fill':selectedThemeColor }"></svg-icon>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="" *ngIf="tabName=='home'" class="opti_vertical-tabcontent">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                            <div class="card opti_border-none" style="margin-bottom: 25px;">
                                <div class="card-block">
                                    <form class="k-form opti_padding-zero" #piForm="ngForm">
                                 
                                    <div class="opti_label-container-add-item opti_position-relative">
                                        <div class="opti_overrite-section-for-disable" *ngIf="isCancelStatus"></div>
                                        <label class="k-form-field">
                                            <span class="opti_form-label">Item Details *
                                                    <span *ngIf="itemDetails.errors?.required && (itemDetails.dirty || itemDetails.touched)" class="float-right opti_error-msg" >Item Details is required.</span>
                                            </span>   
                                                                                     
                                            <input type="text" class="k-textbox" #itemDetails = ngModel name="custId_description" [(ngModel)]="purchaseItemsModel.CustomerItemCode" required value=""
                                                placeholder="Customer Item Id / description" [disabled]="IsItemStatusCancel"/>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Item Quantity *
                                                    <span *ngIf="itemQty.errors?.required && (itemQty.dirty || itemQty.touched)" class="float-right opti_error-msg" >Item Quantity is required.</span>
                                            </span>
                                            <input  class="k-textbox" #itemQty = ngModel name="itemQuantity"  [(ngModel)]="purchaseItemsModel.Quantity" type="number" min="0"   value="0" required="true"  [disabled]="IsItemStatusCancel"/>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Item Unit *
                                                    <span *ngIf="itemUnit.errors?.required && (itemUnit.dirty || itemUnit.touched)" class="float-right opti_error-msg" >Item Unit is required.</span>
                                            </span>
                                            <input type="text" class="k-textbox" name="Unit" #itemUnit = ngModel [(ngModel)]="purchaseItemsModel.Unit" value="" required placeholder="Item Unit" [disabled]="IsItemStatusCancel"/>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Status *
                                                <span *ngIf="status.errors?.required && (status.dirty || status.touched)" class="float-right opti_error-msg" >Item Status is required.</span>
                                            </span>
                                            <kendo-dropdownlist name="status" [data]="statusValues" #status = ngModel [(ngModel)]="purchaseItemsModel.Status" [valuePrimitive]="true"
                                                [textField]="'text'" [valueField]="'value'" [disabled]="IsStatusDisbale">
                                            </kendo-dropdownlist>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Requester</span>
                                            <input type="text" class="k-textbox" name="requester" [(ngModel)]="purchaseItemsModel.Requester"  value="" placeholder="Requester"
                                            [disabled]="IsItemStatusCancel"/>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Request Date</span>
                                            <kendo-datepicker name="requestDate" [(ngModel)]="purchaseItemsModel.RequestDate" [format]="'dd MMM yy'" [disabled]="IsItemStatusCancel"> </kendo-datepicker>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Required Date</span>
                                            <kendo-datepicker name="requiredDate" [(ngModel)]="purchaseItemsModel.RequiredDate" [format]="'dd MMM yy'" [disabled]="IsItemStatusCancel"> </kendo-datepicker>
                                        </label>

                                        <label class="k-form-field">
                                            <span class="opti_form-label">Ship To location</span>
                                            <textarea class="k-textarea" name="unit" [(ngModel)]="purchaseItemsModel.ShipToLocation" [disabled]="IsItemStatusCancel">Location</textarea>
                                        </label>
                                    </div>    

                                        <div class="text-right">
                                            <button type="button" class="k-button k-primary" (click)="OnSaveOperationClick(false)" *ngIf="isCancelStatus==false" [disabled] = "!piForm.form.valid">Save</button>
                                            <!-- <button type="button" class="k-button" (click)="addItemtagain()">Add Item Again</button> -->
                                            <button type="button" class="k-button" (click)="OnSaveOperationClick(true)" *ngIf="isCancelStatus==false" [disabled] = "!piForm.form.valid">Save and New</button>
                                            <button type="button" class="k-button" (click)="closeItemForm()">Cancel</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="" *ngIf="tabName=='attachement'" class="opti_vertical-tabcontent">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                            <app-attachment-item></app-attachment-item>
                        </div>
                    </div>

                    <div id="" *ngIf="tabName=='notes'" class="opti_vertical-tabcontent">
                        <app-notes-item></app-notes-item>
                    </div>
                    <!-- Tab title end -->

                </div>
            </div>
        </div>
    </ng-container>

</ng-container>
<!-- end item form section -->

<!-- grid start -->
<ng-container *ngIf="itemGrid==true">
    <div #gridSectionItem id="opti_gridSectionItemID">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- loader start -->
                    <div class="opti_loader opti_loader-item-tab-grid" *ngIf="showLoader">
                            <div class="opti_spinner"></div>
                        </div>
                    <!-- loader end -->

                    <ng-container *ngIf="showLoader==false">
                    <kendo-grid [kendoGridBinding]="gridItemsData" [resizable]="false" [pageSize]="50" [pageable]="true" [sortable]="true" [filterable]=isColumnFilterItemsGrid
                        [groupable]="false" [columnMenu]="{ columnChooser: false }" [height]=gridHeight-56 [selectable]="true"
                        (selectionChange)="onItemGridDataSelection($event, true)" #gridItemsValues>

                        <!-- (click)="openRightSection(true)" -->

                        <!-- grid template start -->
                        <ng-template kendoGridToolbarTemplate>
                            <!-- show hide column start show hide -->
                            <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

                            <!-- checkbox -->
                            <form class="k-form opti_show-hide-grid-column-filter float-left">
                                <div class="k-form-field">
                                    <input type="checkbox" id="opti_ColumnFilterItemID" [(ngModel)]="isColumnFilterItemsGrid" class="k-checkbox" name="columnfilter"
                                    />
                                    <label class="k-checkbox-label" for="opti_ColumnFilterItemID">Enable Filter</label>
                                </div>
                            </form>

                            <!-- xlsx button start -->
                            <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton">
                                <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                            </button>

                            <!-- add items -->
                            <div class="float-right">
                                <svg-icon #showItemButtonSection src="assets/images/common/add.svg" (click)="showAddItemSection()" [svgStyle]="{ 'width.px':16, 'height.px':16}"
                                *ngIf="!isCancelStatus"   class="opti_vertical-align" style="height: 30px;cursor: pointer;display: inline-flex;"></svg-icon>
                            </div>
                        </ng-template>
                        <!-- grid template end -->

                        <!-- grid column start -->
                        <!-- <kendo-grid-column field="PurchaseInquiryItemId" [width]="160" title="Id" filter="numeric" ></kendo-grid-column>
                                <kendo-grid-column field="Description" title="Description" [width]="140"></kendo-grid-column> -->
                        <kendo-grid-column field="CustomerItemCode" title="Item Details" [width]="200"></kendo-grid-column>
                        <kendo-grid-column field="Quantity" [width]="160" filter="numeric"></kendo-grid-column>
                        <kendo-grid-column field="Unit" [width]="140" filter="numeric"></kendo-grid-column>
                        <kendo-grid-column field="StatusText" [width]="140" filter="numeric"></kendo-grid-column>
                        <kendo-grid-column field="Requester" [width]="140"></kendo-grid-column>
                        <kendo-grid-column field="RequestDate" title="Request Date" [width]="140" type=date filter="date" format="{0:dd MMM yy}"></kendo-grid-column>
                        <kendo-grid-column field="RequiredDate" title="Required Date" [width]="140" type=date filter="date" format="{0:dd MMM yy}"></kendo-grid-column>
                        <kendo-grid-column field="ShipToLocation" title="ShipTo Location" [width]="140"></kendo-grid-column>
                        <!-- grid column end -->

                        <!-- xlsx template start -->
                        <kendo-grid-excel fileName="Items.xlsx"></kendo-grid-excel>
                        <!-- xlsx template end -->

                    </kendo-grid>
                    </ng-container>  
                </div>
            </div>
        </div>
    </div>
</ng-container>
<!-- grid end -->