#opti_ThemeSettingID{
    position: fixed;
    right: 0;
    padding-top: 15px;
    padding-bottom: 15px; 
    height: calc(100% - 65px);
    z-index: 999;
    width: 200px;
    border-left: 2px solid #c7c7c7;
    top: 65px;
}