 
 <!-- left panel start -->
 <section id="opti_LeftPanelID" class="opti_position-relative"> 
     
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 opti_hide-in-mobile text-center opti_vertical-align opti_device-logo-outer">
              <!-- logo -->
              <section class="opti_logo opti_device-logo">
                <img src="{{imgPath}}/logo/large-logo.png" alt="Large Logo" class="opti_large-logo opti_mouse-pointer" />
                <img src="{{imgPath}}/logo/small-logo.png" alt="Logo" class="opti_small-logo opti_mouse-pointer"  />
              </section>
          </div>
      </div>
  </div>     

 
  
  <section class="opti_left-navigation opti_position-relative" [perfectScrollbar]="">
        <ul class="opti_left-nav-ul" *ngIf="systemAdmin!='true'">   
            <ng-container *ngIf="userType==2">    
                <li *ngIf="userPermission.includes('300');" (click)="listClick($event, 'dashboard')" [ngClass]="{'active': selectedItem == 'dashboard'}"><a roterLink="dashboard" > <svg-icon src="{{imgPath}}/left-panel/dashboard.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Dashboard</span></a></li>
                <li *ngIf="userPermission.includes('301');" (click)="listClick($event, 'purchaseinquiry')" [ngClass]="{'active': selectedItem == 'purchaseinquiry'}"><a roterLink="purchaseinquiry"> <svg-icon src="{{imgPath}}/left-panel/Purchase-Inquiries.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Purchase Inquiries</span></a></li>
                <li *ngIf="userPermission.includes('302');" (click)="listClick($event, 'sales')" [ngClass]="{'active': selectedItem == 'sales'}"><a roterLink="sales"> <svg-icon src="{{imgPath}}/left-panel/Sales-Quotations.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Sales Quotations</span></a></li>
                <li *ngIf="userPermission.includes('303');" (click)="listClick($event, 'customerpurchaseorder')" [ngClass]="{'active': selectedItem == 'customerpurchaseorder'}"><a roterLink="customerpurchaseorder"> <svg-icon src="{{imgPath}}/left-panel/Customer-Purchase-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Customer Purchase Order</span></a></li>
                <li *ngIf="userPermission.includes('304');" (click)="listClick($event, 'salesorder')" [ngClass]="{'active': selectedItem == 'salesorder'}"><a roterLink="salesorder"> <svg-icon src="{{imgPath}}/left-panel/Sales-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Sales Orders</span></a></li>
                <li *ngIf="userPermission.includes('305');" (click)="listClick($event, 'deliverynotes')" [ngClass]="{'active': selectedItem == 'deliverynotes'}"><a roterLink="deliverynotes"> <svg-icon src="{{imgPath}}/left-panel/Delivery-Notes.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Delivery Notes</span></a></li>
                <li *ngIf="userPermission.includes('306');" (click)="listClick($event, 'advanceshipmentnotes')" [ngClass]="{'active': selectedItem == 'advanceshipmentnotes'}"><a roterLink=""> <svg-icon src="{{imgPath}}/left-panel/Advance-Shipment-Notes.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Advance Shipment Notes</span></a></li>
                <li *ngIf="userPermission.includes('307');" (click)="listClick($event, 'openinvoices')" [ngClass]="{'active': selectedItem == 'openinvoices'}"><a roterLink="openinvoices"> <svg-icon src="{{imgPath}}/left-panel/Open-Invoices.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Open Invoices</span></a></li>
                <li *ngIf="userPermission.includes('308');" (click)="listClick($event, 'customercontracts')" [ngClass]="{'active': selectedItem == 'customercontracts'}"><a roterLink=""> <svg-icon src="{{imgPath}}/left-panel/Customer-Contracts.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Customer Contracts</span></a></li>
                <li *ngIf="userPermission.includes('309');" (click)="listClick($event, 'customercontacts')" [ngClass]="{'active': selectedItem == 'customercontacts'}"><a roterLink=""> <svg-icon src="{{imgPath}}/left-panel/Customer-Contacts.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Customer Contacts</span></a></li>
            </ng-container>    
            <ng-container *ngIf="userType==3">     
                          
                    <li (click)="listClick($event, 'dashboard')" [ngClass]="{'active': selectedItem == 'dashboard'}"><a roterLink="dashboard" > <svg-icon src="{{imgPath}}/left-panel/dashboard.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Dashboard</span></a></li>
                    <li (click)="listClick($event, 'vpinquery')" [ngClass]="{'active': selectedItem == 'vpinquery'}"><a roterLink="vpinquery" > <svg-icon src="{{imgPath}}/left-panel/Purchase-Inquiries.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Purchase Inqueries</span></a></li>
                    <li id="opti_vpoID" (click)="listClick($event, 'vpolist')" [ngClass]="{'active': selectedItem == 'vpolist'}"><a roterLink="vporder" > <svg-icon src="{{imgPath}}/left-panel/Customer-Purchase-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Purchase Orders</span></a></li>
                    <li (click)="listClick($event, 'vpoulist')" [ngClass]="{'active': selectedItem == 'vpoulist'}"><a roterLink="vpoulist" > <svg-icon src="{{imgPath}}/left-panel/Customer-Purchase-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Updated Purchase Orders </span></a></li>
                    <li id="VASN" (click)="listClick($event, 'vasnlist')" [ngClass]="{'active': selectedItem == 'vasnlist'}"><a roterLink="vasnlist" > <svg-icon src="{{imgPath}}/left-panel/Customer-Purchase-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Vendor ASN</span></a></li>
                    <li (click)="listClick($event, 'vcontectlist')" [ngClass]="{'active': selectedItem == 'vcontectlist'}"><a roterLink="vcontectlist" > <svg-icon src="{{imgPath}}/left-panel/Customer-Purchase-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Vendor Contact </span></a></li>
                    <li (click)="listClick($event, 'vpinvoicelist')" [ngClass]="{'active': selectedItem == 'vpinvoicelist'}"><a roterLink="vpinvoicelist" > <svg-icon src="{{imgPath}}/left-panel/Customer-Purchase-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Vendor Invoice</span></a></li>
                    <li (click)="listClick($event, 'vpaymentlist')" [ngClass]="{'active': selectedItem == 'vpaymentlist'}"><a roterLink="vpaymentlist" > <svg-icon src="{{imgPath}}/left-panel/Customer-Purchase-Order.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Vendor Payment</span></a></li>
                    
            </ng-container>
        </ul>
        
        <ul class="opti_left-nav-ul" *ngIf="systemAdmin=='true'">
            <li class="active"><a href="javascript:void('0');"  (click)=navigate()> <svg-icon src="{{imgPath}}/left-panel/Customer-Contacts.svg" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }"></svg-icon><span>Pending Requests</span></a></li>
        </ul>
  </section>

  <section id="opti_LeftPanelFooterLogo">
      <img src="{{imgPath}}/logo/poweredbylogo.svg" alt="powered logo">
  </section>
  

</section>
<!-- left panel end -->

<!-- <a routerLink='dashboard'>Dashboard</a><br>
<a routerLink='purchaseinquiry'> Purchase Inquery</a> -->