/////////////////////////////////////
// SignUp, SignIn, SetPassword, Reset Password
////////////////////////////////////
.opti_account-module .opti_account-submodule-wrapper{
    .opti_account-submodule-container{
        width: 100%;
        margin-left: 0;
        padding: 0 2%;
    }
}


/////////////////////////////////////
// CSS Related To signup Page
/////////////////////////////////////
.opti_body-signup #opti_signupPageID{
    .panel-body{
        .opti_signup-companyname, .opti_signup-url {
            float: none;
            width: 100%;
        }
        .opti_signup-primary-name, 
        .opti_signup-primary-email, 
        .opti_signup-primary-phone {
            float: none;
            width: 100%;
        }
        .opti_signup-primary-email {
            margin: 0;
        }
        
    }
}

/////////////////////////////
// CSS Related To signin Page
/////////////////////////////
.opti_body-login #opti_signinID{

    .opti_vertcal-align-outer-box{
        padding: 10px 0;
    }

    .opti_login-brandlogo{
        position: relative;
        width: 100%;
        text-align: center;
    }
}

////////////////////////////////////
// Css Related To landing page
////////////////////////////////////

#opti_landingpageID{
    .opti_vertcal-align-outer-box{
        height: 96px;
        text-align: center;
        .panel-body{
            .float-left, .float-right{
                float: none !important;
            }
        }
    }
}
