<!-- <div class="signup-form background">
    <form  method="post">
    <h2>Set Password</h2>
    <p class="lead">Welcome <b>{{userLoginEmail}}</b>, You are near to join us. Please set your password here.</p>

    <div class="form-group">
     
      <div class="input-group">
          <span class="input-group-addon">
              <i class="fa fa-lock"></i>
          </span>
          <input type="password" [(ngModel)]="userModel.Password" class="form-control" name="newPassword" placeholder="New Password"
            required="required">
        </div>

        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
                <i class="fa fa-check"></i>
            </span>
            <input type="password" class="form-control" [(ngModel)]="userModel.ConfirmPassword" name="confirmPassword" placeholder="Confirm Password"
              required="required">
          </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="setPassword()">Set Password</button>
    </div>
    
      </form>
</div> -->

<div id="opti_setPasswordID">
    <div class="opti_outer-setpassword">
        <div class="opti_vertcal-align-outer-box">
            <div class="panel-body opti_position-relative" [perfectScrollbar]="config">
                <form class="k-form">

                        <div class="text-center">
                            <h5>Set Your Password</h5>
                        </div>

                        <label class="k-form-field">
                            <span>Email</span>
                            <input type="email" class="k-textbox" value="test@gmail.com" name="email" disabled/>
                        </label>
                        
                        <label class="k-form-field">
                            <span>Password <span class="float-right opti_error-msg">Please enter valid password</span></span>
                            <input type="password" name="password" class="k-textbox" value="" placeholder="Your password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your password'" tooltip="{{'Password should be like'}}" placement="right" container="body" />
                            <span class="opti_password-indicator-stripped">
                                <!-- start weak  -->
                                    <span class="opti_weak-pass">

                                    </span>
                                <!-- end weak -->

                                <!-- start medium -->
                                    <!-- <span class="opti_medium-pass">
                                            
                                    </span> -->
                                <!-- end medium -->

                                <!-- start strong  -->
                                <!-- <span class="opti_strong-pass">
                                            
                                </span> -->
                                <!-- end strong -->
                            </span>
                        </label>

                        <label class="k-form-field">
                            <span>Retype Password <span class="float-right opti_error-msg" >Password should be same</span></span>
                            <input type="password" name="retype_password" class="k-textbox" value="" placeholder="Retype password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Retype password'" />
                        </label>
        
                        <div class="text-right">
                            <button type="button" class="k-button k-primary">Login</button>
                        </div> 
                        
                </form>
            </div>
        </div>    
    </div>
</div>