<div id="opti_setPasswordID">
    <div class="opti_outer-setpassword">
        <div class="opti_vertcal-align-outer-box">
            <div class="panel-body opti_position-relative" [perfectScrollbar]="config">

                <!-- loader start -->
                    <div class="opti_loader">
                        Please Wait 
                    </div>
                <!-- loader end -->

                <form class="k-form">

                        <div class="text-center">
                            <h5>Set Your Password</h5>
                        </div>

                        <label class="k-form-field">
                            <span>Email</span>
                            <input type="email" class="k-textbox" [(ngModel)]="userLoginEmail"  name="email" disabled/>
                        </label>
                        
                        <label class="k-form-field">
                            <span>Password <span class="float-right opti_error-msg">Please enter valid password</span></span>
                            <input type="password" [(ngModel)]="userModel.Password" name="password" class="k-textbox" value="" placeholder="Your password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your password'" tooltip="{{'Password should be like'}}" placement="right" container="body" />
                            <span class="opti_password-indicator-stripped">
                                <!-- start weak  -->
                                    <span class="opti_weak-pass">

                                    </span>
                                <!-- end weak -->

                                <!-- start medium -->
                                    <!-- <span class="opti_medium-pass">
                                            
                                    </span> -->
                                <!-- end medium -->

                                <!-- start strong  -->
                                <!-- <span class="opti_strong-pass">
                                            
                                </span> -->

                                <!-- <span class="opti_strong-pass-full">
                                            
                                </span> -->
                                <!-- end strong -->
                            </span>
                        </label>

                        <label class="k-form-field">
                            <span>Retype Password <span class="float-right opti_error-msg" >Password should be same</span></span>
                            <input type="password"  [(ngModel)]="userModel.ConfirmPassword" name="retype_password" class="k-textbox" value="" placeholder="Retype password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Retype password'" />
                        </label>
        
                        <div class="text-right">
                            <button type="button" class="k-button k-primary" (click)="setPassword()" >Set Password</button>
                        </div> 
                        
                </form>
            </div>
        </div>    
    </div>
</div>