<div id="opti_DashboardID" class="opti_dashboard opti_position-relative" [perfectScrollbar]=" ">   
  <div class="container-fluid">
    <div class="row">

        <!-- loader start -->
        <div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader==true">
            <div class="opti_spinner"></div>
        </div>
        <!-- loader end -->  

        <!-- content start -->
        <ng-container *ngIf="showLoader==false">

          
          <div *ngIf="systemAdmin=='true'">
              <app-approve-users></app-approve-users>
          </div>
          

          <ng-container *ngIf="systemAdmin!='true'">  
            <div class="col-md-6 opti_zoom-donut-only-mobile">
                <kendo-chart>

                    <kendo-chart-title *ngIf="showDefaultMsg==true" text="Purchase Inquiries
                    No Record Found"></kendo-chart-title>

                    <kendo-chart-title *ngIf="showDefaultMsg==false" text="Purchase Inquiries"></kendo-chart-title>
                    
                    <kendo-chart-series>
                      <kendo-chart-series-item
                          type="donut" [data]="pidashboardResp"
                          categoryField="StatusText" field="StatusCount">
                         <!-- label start -->
                      <kendo-chart-series-item-labels 
                      position="outsideEnd" 
                      background="none" 
                      [content]="labelContent">
                      </kendo-chart-series-item-labels>
                    <!-- label end -->
                      </kendo-chart-series-item>
                    </kendo-chart-series>
                    <kendo-chart-legend [visible]="false"></kendo-chart-legend>

                </kendo-chart>

              
            </div>

            <div class="col-md-6">
                <kendo-chart>
                    <kendo-chart-title text="Monthly Sales"></kendo-chart-title>
                    <kendo-chart-category-axis>
                        <kendo-chart-category-axis-item
                            [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
                            [title]="{ text: 'Months' }">
                        </kendo-chart-category-axis-item>
                    </kendo-chart-category-axis>
                    <kendo-chart-series>
                      <kendo-chart-series-item type="line" [data]="[123, 276, 310, 212, 240, 156, 98]">
                      </kendo-chart-series-item>
                      <kendo-chart-series-item type="line" [data]="[165, 210, 287, 144, 190, 167, 212]">
                      </kendo-chart-series-item>
                      <kendo-chart-series-item type="line" [data]="[56, 140, 195, 46, 123, 78, 95]">
                      </kendo-chart-series-item>
                      <kendo-chart-series-item type="line" [data]="[60, 150, 200, 50, 130, 83, 100]">
                      </kendo-chart-series-item>
                    </kendo-chart-series>
                  </kendo-chart>
            </div>
          
            <div class="col-md-12">
              <kendo-chart [categoryAxis]="{ categories: categories }">
                <kendo-chart-title text="Yearly Sales"></kendo-chart-title>
                <kendo-chart-legend position="top" orientation="horizontal"></kendo-chart-legend>
                <kendo-chart-tooltip [shared]="true"></kendo-chart-tooltip>
                <kendo-chart-series>
                    <kendo-chart-series-item *ngFor="let item of series"
                        type="column" [data]="item.data" [name]="item.name">
                    </kendo-chart-series-item>
                </kendo-chart-series>
              </kendo-chart>
            </div>
          </ng-container>  

        </ng-container>
        <!-- content end -->

    </div>  
  </div>  
</div>

