<!-- <div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <h4>
            Setting <span class="float-right"><img src="assets/images/common/close-theme-panel.svg" (click)="onClose();" class="opti_mouse-pointer" alt="Close Right Panel" width="15" height="15" /></span>
          </h4>  
          

          <div id="opti_changeThemeID" class="opti_position-relative" [perfectScrollbar]="" style="height: calc(100vh - 180px);">
              <button (click)="onThemeChange(opalColor)" id="opal">
                  Opal
              </button>
              <br/>
              <br/>
              <button id="urban" (click)="onThemeChange(urbanColor)">
                  Urban
              </button>
              <br/>
              <br/>
              <button id="skype" (click)="onThemeChange(skypeColor)">
                  Skype
              </button>
              <br/>
              <br/>
              <button id="green" (click)="onThemeChange(greenColor)">
                  Green
              </button>
              <br/>
              <br/>
              <button id="stripe" (click)="onThemeChange(stripeColor)">
                  Stripe
              </button>
              <br/>
              <br/>
              <button id="coffee" (click)="onThemeChange(coffeeColor)">
                  Coffee
              </button>
              <br/>
              <br/>
              <button id="newtrend" (click)="onThemeChange(newtrendColor)">
                  New Trend 2018
              </button>
              <br/>
              <br/>
              <button id="castify" (click)="onThemeChange(castfyColor)">
                  Castfy
              </button>
              <br/>
              <br/>
              <button id="sunrise" (click)="onThemeChange(sunriseColor)">
                  Sunrise
              </button>
              <br/>
              <br/>
              <button id="maldive" (click)="onThemeChange(maldiveColor)">
                  Maldive
              </button>
              <br/>
              <br/>
              <button id="borabora" (click)="onThemeChange(boraboraColor)">
                  Borabora
              </button>
              <br/>
              <br/>
              <button id="bluelagoo" (click)="onThemeChange(bluelagooColor)">
                  Bluelagoo
              </button>
          </div>
          


      </div>
   </div>
</div> -->



<div #optirightfixedsection class="opti_right-fix-section" id="opti_optirightfixedsectionID">
    <svg-icon src="assets/images/common/back-opposite.svg" (click)="closeRightSidebar(false)" [svgStyle]="{ 'width.px':20, 'height.px':20, 'fill':selectedThemeColor }" class="float-right opti_vertical-align opti_close-icon-right-section"></svg-icon>    

    <!-- <app-purchase-inq-add></app-purchase-inq-add>
    <app-purchase-inq-item-add></app-purchase-inq-item-add> -->

    <!-- <app-purchase-inq-detail></app-purchase-inq-detail> -->

    <!-- <app-purchase-inq-add ></app-purchase-inq-add> -->
    <app-purchase-inquiry *ngIf="currentSidebarInfo.ModuleName==1" [currentSidebarInfo]="currentSidebarInfo"> </app-purchase-inquiry>
    <app-sales-quotations *ngIf="currentSidebarInfo.ModuleName==2" [currentSidebarInfo]="currentSidebarInfo"> </app-sales-quotations>
    

</div>        
