<div #optirightfixedsection class="opti_right-fix-section" id="opti_optirightfixedsectionID">
    <svg-icon src="{{imgPath}}/common/back-opposite.svg" (click)="closeRightSidebar(false)" [svgStyle]="{ 'width.px':20, 'height.px':20 }" class="float-right opti_vertical-align opti_close-icon-right-section"></svg-icon>    
    
    <app-purchase-inquiry *ngIf="currentSidebarInfo.ModuleName==1" [currentSidebarInfo]="currentSidebarInfo"> </app-purchase-inquiry>
    
    <app-sales-quotations-detail *ngIf="currentSidebarInfo.ModuleName==2" [currentSidebarInfo]="currentSidebarInfo"> </app-sales-quotations-detail>

    <app-sales-order-detail *ngIf="currentSidebarInfo.ModuleName==4" [currentSidebarInfo]="currentSidebarInfo"></app-sales-order-detail>

    <app-delivery-notes-detail *ngIf="currentSidebarInfo.ModuleName==5" [currentSidebarInfo]="currentSidebarInfo"></app-delivery-notes-detail>

    <app-open-invoices-detail *ngIf="currentSidebarInfo.ModuleName==6" [currentSidebarInfo]="currentSidebarInfo"></app-open-invoices-detail>

    <app-customer-contacts *ngIf="currentSidebarInfo.ModuleName==8" [currentSidebarInfo]="currentSidebarInfo"></app-customer-contacts>

    <app-customer-purchase-order-update *ngIf="currentSidebarInfo.ModuleName==9 && currentSidebarInfo.ComponentName==901" [currentSidebarInfo]="currentSidebarInfo"></app-customer-purchase-order-update>

    <app-customer-purchase-order-add *ngIf="currentSidebarInfo.ModuleName==9 && currentSidebarInfo.ComponentName==902" [currentSidebarInfo]="currentSidebarInfo"></app-customer-purchase-order-add>

    <app-customer-contracts-attachment *ngIf="currentSidebarInfo.ModuleName==7" [currentSidebarInfo]="currentSidebarInfo"></app-customer-contracts-attachment>
    
    
</div>        
