<div #optiRightAddInquiry class="opti_sales-order-detail" id="opti_SalesOrderDetailID">
    <!-- tab start heading start -->
    <div class="opti_position-relative opti_tab-outer">
      <ul #optiTab class="opti_tab tabs clearfix" id="opti_TabID">
          <li class="opti_tablinks active" (click)="openTab($event, 'home')">
            <a href="javascript:void('0');">Header</a>
          </li>
          <li class="opti_tablinks" (click)="openTab($event, 'content')">
            <a href="javascript:void('0');">Content</a>
          </li>
          <li class="opti_tablinks" (click)="openTab($event, 'attachement')">
            <a href="javascript:void('0');">Attachements</a>
          </li>
      </ul>
    </div>
    <!-- tab start heading end -->

    <!-- tab content start -->
    <div id="" *ngIf="tabName=='home'" class="opti_tabcontent">
      <app-sales-order-detail-home></app-sales-order-detail-home>
    </div>

    <div id="" *ngIf="tabName=='content'" class="opti_tabcontent">
      <app-sales-order-detail-content></app-sales-order-detail-content>
    </div>

    <div id="" *ngIf="tabName=='attachement'" class="opti_tabcontent">
      <app-sales-order-detail-attachment></app-sales-order-detail-attachment>
    </div>
    <!-- tab content end -->
</div>  