/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

body.opti_account-module{
    background-image: url('assets/images/account/body-bg-new-5.jpg');
}

#captchaCanvasID{
    background-image:url('assets/images/common/captcha-background.jpg'); 
}

.opti_account-banner-section{
    background-image: url('assets/images/account/body-bg-new-1.jpg');
}

#opti_purchaseInquiryAttachementSectionID,
#opti_purchaseInquiryItemAttachementSectionID,
#opti_CustomerPurchaseOrderAttachmentID,
#opti_InvoiceAttchmentID{  
    kendo-grid-list{
        .k-grid-content{
            background-image:url('assets/images/common/drop-grid-bg.png'); 
            background-repeat: no-repeat;
            background-position: center center;
        }
    }  
}