<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>
              Setting <span class="float-right"><img src="assets/images/common/close-theme-panel.svg" (click)="onClose();" class="opti_mouse-pointer" alt="Close Right Panel" width="15" height="15" /></span>
            </h4>  
            <!-- theme change  -->
            <div id="opti_changeThemeID">
                <button id="opal">
                    Opal
                </button>
                <!-- <button id="bootstrap">
                    Boot-V3
                </button> -->
                <br/>
                <br/>
                <button id="urban">
                    Urban
                </button>
                <br/>
                <br/>
                <button id="skype">
                    Skype
                </button>

                
            </div>
            <!-- end theme change -->
        </div>
     </div>
</div>