<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>
              Setting <span class="float-right"><img src="assets/images/common/close-theme-panel.svg" (click)="onClose();" class="opti_mouse-pointer" alt="Close Right Panel" width="15" height="15" /></span>
            </h4>  
            <!-- theme change  -->
            <div id="opti_changeThemeID">
                <button (click)="onThemeChange(opalColor)" id="opal">
                    Opal
                </button>
                <!-- <button id="bootstrap">
                    Boot-V3
                </button> -->
                <br/>
                <br/>
                <button id="urban" (click)="onThemeChange(urbanColor)">
                    Urban
                </button>
                <br/>
                <br/>
                <button id="skype" (click)="onThemeChange(skypeColor)">
                    Skype
                </button>
                <br/>
                <br/>
                <button id="green" (click)="onThemeChange(greenColor)">
                    Green
                </button>
                <br/>
                <br/>
                <button id="stripe" (click)="onThemeChange(stripeColor)">
                    Stripe
                </button>
                <br/>
                <br/>
                <button id="coffee" (click)="onThemeChange(coffeeColor)">
                    Coffee
                </button>
                <br/>
                <br/>
                <button id="newtrend" (click)="onThemeChange(newtrendColor)">
                    New Trend 2018
                </button>
                <br/>
                <br/>
                <button id="castify" (click)="onThemeChange(castfyColor)">
                    Castfy
                </button>
                
                
            </div>
            <!-- end theme change -->
        </div>
     </div>
</div>