<div id="AdvanceShipmentNotesListID">   
  <!-- loader start -->
    <div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader">
        <div class="opti_spinner"></div>
    </div>
    <!-- loader end -->  

    <ng-container *ngIf="showLoader==false">
        <!-- for normal user   -->
        <!-- <div *ngIf="systemAdmin!='true'"> -->
        <div>
            <kendo-grid 
            [kendoGridBinding]="gridData | customFilter:searchRequest" 
            [resizable]="true" 
            [pageSize]=pageLimit 
            [pageable]=pagination 
            [sortable]="true"  
            [filterable]=isColumnFilter
            [groupable]=isColumnGroup 
            [columnMenu]="{ columnChooser: false }" 
            [height]=gridHeight 
            [selectable]="true" 
            (selectionChange)="openAdvanceShipmentNotesDetailOnSelection($event)"
            #gridItem>
            <kendo-grid-messages 
            noRecords="{{'Common_No_GridRecords'|translate}}">
          </kendo-grid-messages>
            <!-- [kendoGridBinding]="gridData | customPipeItem:searchRequest"  -->
            <!-- (selectionChange)="openInqueryDetailOnSelectInquery(gridItem, $event, true, gridItem)" -->

            <!-- grid template start -->
            <ng-template kendoGridToolbarTemplate>
                <!-- show hide column start show hide -->
                <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser>

                <!-- checkbox -->
                <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile">
                    <div class="k-form-field float-left">
                        <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_ColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                        <label class="k-checkbox-label" for="opti_ColumnFilterID">{{'Common_EnableFilter'|translate}} </label>
                    </div>

                    <div class="k-form-field float-left">
                        <input #chkGrp type="checkbox" id="opti_ColumnGroupID"   (change)="onGroupChange(chkGrp,gridItem)" [(ngModel)]="isColumnGroup" class="k-checkbox" name="columnGroup" />
                        <label class="k-checkbox-label" for="opti_ColumnGroupID">{{'Common_EnableGrouping'|translate}}</label>
                    </div>
                </form>

                <!-- export -->
                <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton opti_hide-in-mobile">
                    <svg-icon src="{{imgPath}}/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                </button>


                <div class="float-right opti_grid-mainlist-mobile-search opti_right-top-sec-grid">
                    <!-- <svg-icon src="{{imgPath}}/common/add.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"
                        class="opti_vertical-align float-left opti_icon-spacing opti_add-request opti_hide-in-mobile"></svg-icon> -->

                    <form class="k-form opti_common-search-form float-left opti_padding-zero">
                        <label class="k-form-field opti_common-search-label">
                            <input type="text" class="k-textbox" name="searchRequest" [(ngModel)]="searchRequest" />
                            <span class="opti_vertical-align opti_mouse-pointer"><img src="{{imgPath}}/common/search-black.svg" class="" alt="Search" width="15" /></span>
                        </label>
                    </form>
                </div>
            </ng-template>
            
            <!-- grid for mobile start -->
            <kendo-grid-column media="(max-width: 767px)" title="Advance Shipment Notes" class="opti_mobile-grid-td">
                <ng-template kendoGridCellTemplate let-dataItem>
                    
                    <dl class="opti_mobile_grid_dl">
                        <dt>{{'ASN#'|translate}}  </dt>
                        <dd>{{ dataItem.ASNNumber }}</dd>

                        <dt>{{'SO_Delivery#'|translate}}  </dt>
                        <dd>{{ dataItem.DeliveryNumber }}</dd>

                        <dt>{{'SO_ShipDate'|translate}} </dt>
                        <dd>{{ dataItem.ShipDate }}</dd>

                        <dt>{{'ASN_ExpectedDelivery'|translate}} </dt>
                        <dd>{{ dataItem.ExpectedDeliveryDate }}</dd>

                        <dt>{{'SO_WayBill#'|translate}} </dt>
                        <dd>{{ dataItem.WayBillNumber }}</dd>

                        <dt>{{'SO_Tracking#'|translate}} </dt>
                        <dd>{{ dataItem.TrackingNumber }}</dd>
                    </dl>

                    <dl class="opti_mobile_grid_dl">
                        <dt>{{'SO_ModeOfShipment'|translate}} <span class="opti_arrow-grid-detail float-right text-center opti_vertical-align">&rsaquo;</span></dt>
                        <dd>{{ dataItem.ModeOfShipment }}</dd>

                        <dt>{{'SO_ShippingMethod'|translate}} </dt>
                        <dd>{{ dataItem.ShippingMethod }}</dd>

                        <dt>{{'SO_PackingSlip#'|translate}} </dt>
                        <dd>{{ dataItem.PackingSlipNumber }}</dd>

                        <dt>{{'PI_ShipToLocation'|translate}} </dt>
                        <dd>{{ dataItem.ShipToLocation }}</dd>
                        
                        <dt>{{'SO_TotalPrice'|translate}}</dt>
                        <dd>{{ dataItem.TotalPrice }}</dd>
                    </dl>

                </ng-template>
            </kendo-grid-column>
            <!-- grid for mobile end -->

            <!-- grid template end -->
            <kendo-grid-column media="(min-width: 768px)" field="ASNNumber" title="{{'ASN#'|translate}}" [width]="160" filter="numeric"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="DeliveryNumber" class="text-right" title="{{'SO_Delivery#'|translate}}" [width]="140" ></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="ShipDate" [width]="140" title="{{'SO_ShipDate'|translate}}" filter="date" type=date format="{0:dd MMM yy}"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="ExpectedDeliveryDate" [width]="140" title="{{'ASN_ExpectedDelivery'|translate}}" filter="date" type=date format="{0:dd MMM yy}"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="WayBillNumber" class="text-right" title="{{'SO_WayBill#'|translate}} " [width]="200"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="TrackingNumber" class="text-right" title="{{'SO_Tracking#'|translate}}" [width]="140"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="ModeOfShipment" title="{{'SO_ModeOfShipment'|translate}}" [width]="200"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="ShippingMethod" title="{{'SO_ShippingMethod'|translate}} " [width]="200" ></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="PackingSlipNumber" class="text-right" title="{{'SO_PackingSlip#'|translate}}" [width]="200"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="ShipToLocation" title="{{'PI_ShipToLocation'|translate}}" [width]="200"></kendo-grid-column>
            <kendo-grid-column media="(min-width: 768px)" field="TotalPrice" title="{{'SO_TotalPrice'|translate}}" [width]="200"></kendo-grid-column>
            
            <!-- xlsx template start -->
            <kendo-grid-excel fileName="advance-shipment-notes.xlsx"></kendo-grid-excel>
            <!-- xlsx template end -->

          </kendo-grid>
        </div>
    </ng-container>
</div>
  