<div class="opti_open_invoices-detail-home opti_position-relative opti_fullheight" id="opti_OpenInvoicesHomeID" [perfectScrollbar]="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

          <!-- loader start -->
          <!-- <div class="opti_loader opti_loader-header-tab">
              <div class="opti_spinner"></div>
          </div> -->
          <!-- loader end -->  
          
 
        <div class="card">
          <div class="card-block">
            <form class="k-form">

              <label class="k-form-field">
                  <span class="opti_form-label">Invoice#</span>
                  <input name="delivery" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.InvoiceNumber" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Invoice Date</span>
                  <input name="shipDate" type="text" class="k-textbox" (ngModelChange) ="openInvoiceHeaderModel.InvoiceDate= $event" [ngModel]="openInvoiceHeaderModel.InvoiceDate |date: dateformat" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Due Date</span> 
                  <input name="deliveredDate" type="text" class="k-textbox"  (ngModelChange) ="openInvoiceHeaderModel.DueDate= $event" [ngModel]="openInvoiceHeaderModel.DueDate |date: dateformat" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Amount</span>
                  <input name="customerName" type="text" class="k-textbox" [ngModel]="openInvoiceHeaderModel.Amount" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Freight</span>
                  <input name="wayBill" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.Freight" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Tax</span>
                  <input name="tracking" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.Tax" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">discount</span>
                  <input name="packingSlip" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.Discount" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Total Amount</span>
                  <input name="modeOfShipment" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.TotalAmount" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Bill-To address</span>
                  <input name="shippingMethod" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.BillToAddress" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Contact Person</span>
                  <input name="shipToLocation" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.ContactPerson" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Payment Terms</span>
                  <input name="totalPrice" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.PaymentTerms" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Advance Paid amount</span>
                  <input name="freight" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.AdvancePaidAmount" readonly />
              </label>

              <label class="k-form-field">
                  <span class="opti_form-label">Balance Due</span>
                  <input name="tax" type="text" class="k-textbox" [(ngModel)]="openInvoiceHeaderModel.BalanceDue" readonly />
              </label>
            </form>
          </div>
        </div>
      </div> 
    </div> 
  </div>  
</div>